
generated/

*.pyc

control.err.log

docs/restricted/

local/

settings.json

templates/backups/

test-startup.json

test-working.json

.vs/

.vscode/

.idea/

venv/

*.code-workspace

test.json

*.bak

*.bak2

pelletdb.json
