
generated/

*.pyc

control.err.log

docs/restricted/

local/

settings.json

templates/backups/

test-startup.json

test-working.json

.vs/

.vscode/

.idea/

venv/

*.code-workspace

test.json

*.bak

*.bak2

pelletdb.json

static/js/backups/

/history/

static/img/tmp/

recipes/recipe/

*.log

backups/

bin/
settings-v1.8.0.json

include/

lib/

share/

lib64

pyvenv.cfg

root-control.sh

venv-desktop.sh

venv-laptop.sh

dt.sh

lt.sh

pip_list.json

os_info.json

blueprints/example/