{% macro config_input_float_int(classname, id_prefix, label, default, min, max, step) %}
<input type="number" class="form-control {{ classname }}"  
    value="{{ default }}" 
    min="{{ min }}" 
    max="{{ max }}" 
    step="{{ step }}"
    id="{{ id_prefix }}_{{ label }}" 
    name="{{ id_prefix }}_{{ label }}"/>
{% endmacro %}

{% macro config_input_list(classname, id_prefix, label, default, list_values, list_labels) %}
<select class="form-control {{ classname }}"
    id="{{ id_prefix }}_{{ label }}" 
    name="{{ id_prefix }}_{{ label }}">
    {% for item in list_values %}
    <option value="{{ item }}"{% if default == item %} selected{% endif %}>{{ list_labels[loop.index0] }}</option>
    {% endfor %}
</select>
{% endmacro %}

{% macro config_input_string(classname, id_prefix, label, default) %}
<input type="text" class="form-control {{ classname }}" 
    value="{{ default }}" 
    id="{{ id_prefix }}_{{ label }}" 
    name="{{ id_prefix }}_{{ label }}"/>
{% endmacro %}

{% macro render_dash_config_card(dash_metadata, dash_data) %}
<form method="POST" action="/dashconfig"> 
	<div class="card">
		<div class="card-header">
			{{ dash_metadata['friendly_name'] }} Configuration Settings
		</div>
		{% if dash_metadata['config'] != [] %}
            <div class="card-body">
                <!-- Table for Config -->
                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">Setting</th>
                        <th scope="col">Options</th>
                        <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in dash_metadata['config'] %}
                        <tr {% if item['hidden'] %}hidden{% endif %}>
                            <td>{{ item['friendly_name'] }}</td>
                            <td>
                                {% if item['type'] == 'float' or item['type'] == 'int' %}
                                    {{ config_input_float_int('dashConfigItem', 'dashConfig', item['name'], dash_data['config'][item['name']], item['min'], item['max'], item['step']) }}
                                {% elif item['type'] == 'list' %}
                                    {{ config_input_list('dashConfigItem', 'dashConfig', item['name'], dash_data['config'][item['name']], item['list_values'], item['list_labels']) }}
                                {% elif item['type'] == 'string' %}
                                    {{ config_input_string('dashConfigItem', 'dashConfig', item['name'], dash_data['config'][item['name']]) }}
                                {% endif %}
                            </td>
                            <td>{{ item.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="card-body">
                There doesn't seem to be any config settings for this dashboard.
            </div>
        {% endif %}
		<div class="card-footer">
			<button type="button" class="btn btn-secondary" onclick="dashLoadConfig();">Refresh</button>
            {% if dash_metadata['config'] != [] %}
            <button type="submit" class="btn btn-danger">Save & Reload</button>
            {% endif %}
		</div>
	</div>
</form>
{% endmacro %}