{% macro render_probe_card(probe_data, settings, control) %}

<!-- Probe Card -->
<div class="card shadow"> 
	<div class="card-header bg-primary text-white text-center">
		<strong>
			{% if probe_data['type'] == 'Primary' %}
			<i class="fas fa-tachometer-alt"></i>&nbsp;
			{% else %}
			<i class="fas fa-thermometer"></i>&nbsp;
			{% endif %} 
			{{ probe_data['name'] }}
		</strong>
	</div>
	<div class="card-body text-center justify-content-center">
		<div class="row">
			<div class="col">
				<div id="{{ probe_data['label'] }}_gauge" class="gauge-container">
					<span class="value-text">&deg;{% if settings['globals']['units'] == 'F' %}F{% else %}C{% endif %}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer justify-content-center">
		<div class="btn-toolbar justify-content-center" role="toolbar">
			<div class="btn-group mr-2 shadow" role="group">
				<button class="btn btn-sm btn-outline-primary" role="button" data-toggle="tooltip" title="Settings for this probe." onclick="window.location.href = '/settings';">
					<i class="fas fa-cog"></i>
				</button>
				{% if probe_data['type'] == 'Primary' %}
					<button type="button" class="btn btn-sm btn-outline-primary" id="{{ probe_data['label'] }}_primary_setpoint_btn" 
					  onclick="launchSetpointModal()" style="display:none">
						<i class="fas fa-crosshairs"></i>
					</button>
					<div id="pmode_group" class="btn-group dropup" role="group" data-toggle="tooltip" data-placement="top" title="Adjust the PMode" style="display:none">
						<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" id="pmode_btn" data-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-p"></i>
						</button>
						<div class="dropdown-menu">
						  <!-- Dropdown menu links -->
						  <button class="dropdown-item" type="button" onclick="setPmode(0)">0 - Off</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(1)">1</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(2)">2</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(3)">3</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(4)">4</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(5)">5</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(6)">6</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(7)">7</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(8)">8</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(9)">9</button>
						</div>
					</div>
				{% endif %}
				{% for notify_info in control['notify_data'] %}
					{% if notify_info['label'] == probe_data['label'] %} 
						{% if notify_info['req'] %}
							<button type="button" class="btn btn-sm btn-primary" id="{{ probe_data['label'] }}_notify_btn" 
							  data-toggle="modal" data-target="#{{ probe_data['label'] }}_notifyModal">
							  	<i class="far fa-bell"></i>&nbsp;
								{{ notify_info['target'] }}&deg;
								{% if settings['globals']['units'] == 'F' %}F{% else %}C{% endif %}
							</button>
						{% else %}
							<button type="button" class="btn btn-sm btn-outline-primary" id="{{ probe_data['label'] }}_notify_btn" data-toggle="modal" data-target="#{{ probe_data['label'] }}_notifyModal"><i class="far fa-bell-slash"></i></button>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
			{% for notify_info in control['notify_data'] %}
				{% if notify_info['label'] == probe_data['label'] %} 
					{% if notify_info['req'] %}
					<button type="button" class="btn btn-sm btn-primary shadow" id="{{ probe_data['label'] }}_eta_btn" data-toggle="tooltip" title="Estimated time to reach target temperature">
					{% else %}
					<button type="button" class="btn btn-sm btn-primary shadow" id="{{ probe_data['label'] }}_eta_btn" data-toggle="tooltip" title="Estimated time to reach target temperature" style="display:none">
					{% endif %}
				{% endif %}
			{% endfor %}
						<i class="fa-solid fa-hourglass-half"></i>&nbsp;
						<i class="fa-solid fa-spinner fa-spin-pulse"></i>
					</button>
		</div>
	</div>
</div>

<!-- Modal for setting notifications -->
<div class="modal" id="{{ probe_data['label'] }}_notifyModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title"><i class="fas fa-temperature-high"></i>&nbsp; {{ probe_data['name'] }} Notification Target</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body text-center">
				Send a notification when this probe achieves the target temperature:
				<div class="row d-flex justify-content-center">
					<div class="input-group w-50">
						<input class="form-control text-center temperature-input border-0" name="{{ probe_data['label'] }}_tempOutput" id="{{ probe_data['label'] }}_tempOutputId" type="text" min="0" value="0" pattern="[0-9]*" inputmode="numeric" 
						oninput="{{ probe_data['label'] }}_tempInputId.value = {{ probe_data['label'] }}_tempOutputId.value"
						onclick="this.select()">
					</div>
				</div>	
				{% if probe_data['type'] == 'Primary' %}
					{% if settings['globals']['units'] == 'F' %}
					<input type="range" class="custom-range" min="0" max="600" value="0" id="{{ probe_data['label'] }}_tempInputId" name="{{ probe_data['label'] }}_tempInputRange" oninput="{{ probe_data['label'] }}_tempOutputId.value = {{ probe_data['label'] }}_tempInputId.value" onclick="this.select();">
					{% else %}
					<input type="range" class="custom-range" min="0" max="300" value="0" id="{{ probe_data['label'] }}_tempInputId" name="{{ probe_data['label'] }}_tempInputRange" oninput="{{ probe_data['label'] }}_tempOutputId.value = {{ probe_data['label'] }}_tempInputId.value" onclick="this.select();">
					{% endif %}
				{% else %}
					{% if settings['globals']['units'] == 'F' %}
					<input type="range" class="custom-range" min="0" max="300" value="0" id="{{ probe_data['label'] }}_tempInputId" name="{{ probe_data['label'] }}_tempInputRange" oninput="{{ probe_data['label'] }}_tempOutputId.value = {{ probe_data['label'] }}_tempInputId.value" onclick="this.select();">
					{% else %}
					<input type="range" class="custom-range" min="0" max="150" value="0" id="{{ probe_data['label'] }}_tempInputId" name="{{ probe_data['label'] }}_tempInputRange" oninput="{{ probe_data['label'] }}_tempOutputId.value = {{ probe_data['label'] }}_tempInputId.value" onclick="this.select();">
					{% endif %}
				{% endif %}
				<br><br>
				{% if probe_data['type'] != 'Primary' %}
				<p>When {{ probe_data['name'] }} Achieves Set Point:</p>
				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="{{ probe_data['label'] }}_shutdown" name="{{ probe_data['label'] }}_shutdown">
					<label class="custom-control-label" for="{{ probe_data['label'] }}_shutdown">Shutdown PiFire</label>
				</div>
				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="{{ probe_data['label'] }}_keepWarm" name="{{ probe_data['label'] }}_keepWarm">
					<label class="custom-control-label" for="{{ probe_data['label'] }}_keepWarm">Start Keep Warm</label>
				</div>
				{% endif %}
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" id="{{ probe_data['label'] }}_notify_disable" data-dismiss="modal" onclick="cancelNotify('{{ probe_data['label'] }}')">Cancel</button>
				<button type="button" class="btn btn-danger" id="{{ probe_data['label'] }}_notify_enable" data-dismiss="modal" onclick="setNotify('{{ probe_data['label'] }}', {{ probe_data['label'] }}_tempInputId.value)">Set</button>
			</div>
		</div>
	</div>
</div>

{% if probe_data['type'] != 'Primary' %}
<script>
	document.getElementById("{{ probe_data['label'] }}_shutdown").addEventListener("click",  
		function(){
			if($(this).is(':checked')){
				document.getElementById("{{ probe_data['label'] }}_keepWarm").checked = false;
			}
		});

	document.getElementById("{{ probe_data['label'] }}_keepWarm").addEventListener("click",  
	function(){
		if($(this).is(':checked')){
			document.getElementById("{{ probe_data['label'] }}_shutdown").checked = false;
		}
	});
</script>
{% endif %}

{% endmacro %}

{% macro render_hopper_card() %}
<div class="card shadow">
	<div class="card-header bg-primary text-white text-center">
		<i class="fas fa-poll-h"></i>&nbsp; Current Pellet Level
	</div>
	<div class="card-body text-center">
		<h5>Current: <span id="hopperPellets"></span></h5>
		<!-- Hopper Level Indicator-->
		<div class="progress shadow" style="height:30px">
			<div id="hopperLevel" class="progress-bar progress-bar-striped bg-success" style="width:100%;height:30px">100%</div>
		</div>
	</div>
	<div class="card-footer text-center">
		<button type="button" class="btn btn-outline-primary" onclick="refreshHopperStatus()">Refresh Status</button>
		<a href="/pellets" type="button" class="btn btn-outline-primary">Manager</a>
	</div>
</div>
{% endmacro %}

{% macro render_status_card() %}
<div class="card shadow">
	<div class="card-header bg-primary text-white text-center">
		<i class="fas fa-info-circle"></i>&nbsp; Status: <span id="mode_status" style="color:yellow"><b>Stop</b></span>
	</div>
	<div class="card-body text-center text-large">

			<table class="table table-sm table-borderless">
				<tbody>
				  <tr>
					<td>
						<span id="fan_status"><i class="fas fa-fan fa-2x" data-toggle="tooltip" data-placement="top" title="Fan ON" style="color:rgb(150, 150, 150)"></i></span>&nbsp;
					</td>
					<td>
						<span id="auger_status"><i class="fas fa-angle-double-right fa-2x" data-toggle="tooltip" data-placement="top" title="Auger ON" style="color:rgb(150, 150, 150)"></i></span>&nbsp;
					</td>
					<td>
						<span id="igniter_status"><i class="fas fa-fire fa-2x" data-toggle="tooltip" data-placement="top" title="Igniter ON" style="color:rgb(150, 150, 150)"></i></span>&nbsp;
					</td>
					<td>
						<span id="pmode_status" class="fa-stack" style="vertical-align: top;">
							<i class="far fa-square fa-stack-2x" style="color:rgb(150, 150, 150)" data-toggle="tooltip" data-placement="top" title="P-Mode"></i>
							<i class="fas fa-minus fa-stack-1x" style="color:rgb(150, 150, 150)"></i>
						</span>
					</td>
				  </tr>
				  <tr>
					<td><span class="badge badge-secondary">Fan</span></td>
					<td><span class="badge badge-secondary">Auger</span></td>
					<td><span class="badge badge-secondary">Igniter</span></td>
					<td><span class="badge badge-secondary">P-Mode</span></td>
				  </tr>
				</tbody>
			  </table>

	</div>
	<div id="status_footer" class="card-footer text-center" style="display:none">
		<b id="mode_timer_label" style="color:green;display:none">Time Left in Mode: <span id="mode_timer"></span>s</b>
		<b id="lid_open_label" style="color:green;display:none"></b>
	</div>
</div>
{% endmacro %}

{% macro render_time_elapsed_card() %}
<div class="card shadow">
	<div class="card-header bg-primary text-white text-center">
		<i class="fa-regular fa-clock"></i>&nbsp; Time Elapsed Since Start
	</div>
	<div class="card-body text-center text-large">
		<h1>
			<b>
				<span id="time_elapsed_string" class="text-secondary">--</span>
			</b>
		</h1>
		<span class="badge badge-secondary">HH:MM:SS</span>
	</div>
</div>
{% endmacro %}