{% macro render_probe_card(probe_data, settings, control, enabled) %}

<!-- Probe Card -->
<div class="card shadow"> 
	{% if enabled %}
	<div class="card-header bg-primary text-white text-center d-flex justify-content-between align-items-center">
	{% else %}
	<div class="card-header bg-secondary text-white-50 text-center d-flex justify-content-between align-items-center">
	{% endif %}
		<div class="flex-grow-1">  <!-- This div will take up remaining space and center its content -->
			<strong>
				{% if probe_data['type'] == 'Primary' %}
				<i class="fas fa-tachometer-alt"></i>&nbsp;
				{% else %}
				<i class="fas fa-thermometer"></i>&nbsp;
				{% endif %} 
				{{ probe_data['name'] }}
			</strong>
		</div>
		{% if probe_data['status']['connected'] is defined %}		
			
			<span id="conn_status_{{ probe_data['label'] }}" class="badge badge-pill 
			{% if probe_data['status']['connected'] %}
			badge-success
			{% else %}
			badge-light
			{% endif %}
			">
				<span class="fa-stack" style="vertical-align: top;" data-toggle="tooltip" data-placement="top" 
					  title="{% if probe_data['status']['connected'] %}Connected{% else %}Disconnected{% endif %}">
					<i class="fas fa-wifi fa-stack-1x fa-shake" style="--fa-animation-iteration-count: 1;"></i>
					{% if probe_data['status']['connected'] == False %}
					<i class="fas fa-slash fa-stack-1x"></i>
					{% endif %}
				</span>
			</span>
			&nbsp;
		{% endif %}
		{% if probe_data['status']['battery_percentage'] is defined %}
			<span id="bat_status_{{ probe_data['label'] }}" class="badge badge-pill 
			{% if probe_data['status']['battery_percentage'] == None %}
			badge-light
			{% elif probe_data['status']['battery_percentage'] < 10 %}
			badge-danger
			{% elif probe_data['status']['battery_percentage'] < 40 %}
			badge-warning
			{% else %}
			badge-success
			{% endif %}
			">
				<span class="fa-stack" style="vertical-align: top;" data-toggle="tooltip" data-placement="top" 
					  title="{% if probe_data['status']['battery_percentage'] == None %}Unknown{% else %}{{ probe_data['status']['battery_percentage']|int }}%{% endif %}">
					{% if probe_data['status']['battery_percentage'] == None %}
					<i class="fas fa-battery-empty fa-stack-1x text-secondary"></i>
					<i class="fa-solid fa-question fa-stack-1x text-danger"></i>
					{% elif probe_data['status']['battery_percentage'] < 10 %}
					<i class="fas fa-battery-empty fa-stack-1x"></i>
					{% elif probe_data['status']['battery_percentage'] < 40 %}
					<i class="fas fa-battery-half fa-stack-1x"></i>
					{% elif probe_data['status']['battery_percentage'] < 90 %}
					<i class="fa-solid fa-battery-three-quarters fa-stack-1x"></i>
					{% else %}
					<i class="fas fa-battery-full fa-stack-1x"></i>
					{% endif %}
				</span>
			</span>
		{% endif %}
	</div>
	<div class="card-body text-center justify-content-center">
		<div class="row">
			<div class="col">
				<div id="{{ probe_data['label'] }}_gauge" class="gauge-container">
					<span class="value-text">&deg;{% if settings['globals']['units'] == 'F' %}F{% else %}C{% endif %}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer justify-content-center">
		<div class="btn-toolbar justify-content-center" role="toolbar">
			<div class="btn-group mr-2 shadow" role="group">
				<button class="btn btn-sm btn-outline-primary" role="button" data-toggle="tooltip" title="Settings for this probe." onclick="dashProbeConfig('{{ probe_data['label'] }}')">
					<i class="fas fa-cog"></i>
				</button>
				{% if probe_data['type'] == 'Primary' %}
					<button type="button" class="btn btn-sm btn-outline-primary" id="{{ probe_data['label'] }}_primary_setpoint_btn" 
					  onclick="launchSetpointModal()" style="display:none">
						<i class="fas fa-crosshairs"></i>
					</button>
					<div id="pmode_group" class="btn-group dropup" role="group" data-toggle="tooltip" data-placement="top" title="Adjust the PMode" style="display:none">
						<button type="button" class="btn btn-sm btn-outline-primary dropdown-toggle" id="pmode_btn" data-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-p"></i>
						</button>
						<div class="dropdown-menu">
						  <!-- Dropdown menu links -->
						  <button class="dropdown-item" type="button" onclick="setPmode(0)">0 - Off</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(1)">1</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(2)">2</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(3)">3</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(4)">4</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(5)">5</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(6)">6</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(7)">7</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(8)">8</button>
						  <button class="dropdown-item" type="button" onclick="setPmode(9)">9</button>
						</div>
					</div>
				{% endif %}
				{% for notify_info in control['notify_data'] %}
					{% if notify_info['label'] == probe_data['label'] and notify_info['type'] == 'probe' %} 
						{% if notify_info['req'] %}
							<button type="button" class="btn btn-sm btn-primary" id="{{ probe_data['label'] }}_notify_btn" 
							  data-toggle="modal" data-target="#{{ probe_data['label'] }}_notifyModal" value="none">
							  	<i class="far fa-bell"></i>&nbsp;
								{{ notify_info['target'] }}&deg;
								{% if settings['globals']['units'] == 'F' %}F{% else %}C{% endif %}
							</button>
						{% else %}
							<button type="button" class="btn btn-sm btn-outline-primary" id="{{ probe_data['label'] }}_notify_btn" data-toggle="modal" data-target="#{{ probe_data['label'] }}_notifyModal"><i class="far fa-bell-slash"></i></button>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
			{% for notify_info in control['notify_data'] %}
				{% if notify_info['label'] == probe_data['label'] and notify_info['type'] == 'probe' %} 
					{% if notify_info['req'] %}
					<button type="button" class="btn btn-sm btn-primary shadow" id="{{ probe_data['label'] }}_eta_btn" data-toggle="tooltip" title="Estimated time to reach target temperature">
					{% else %}
					<button type="button" class="btn btn-sm btn-primary shadow" id="{{ probe_data['label'] }}_eta_btn" data-toggle="tooltip" title="Estimated time to reach target temperature" style="display:none">
					{% endif %}
				{% endif %}
			{% endfor %}
						<i class="fa-solid fa-hourglass-half"></i>&nbsp;
						<i class="fa-solid fa-spinner fa-spin-pulse"></i>
					</button>
		</div>
	</div>
</div>

<!-- Modal for setting notifications -->
<div class="modal" id="{{ probe_data['label'] }}_notifyModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title"><i class="fas fa-temperature-high"></i>&nbsp; {{ probe_data['name'] }} Notifications & Alerts</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body text-center">

				<div class="accordion" id="{{ probe_data['label'] }}_notify_accordion">
					<div class="card">
						<div class="card-header" id="{{ probe_data['label'] }}_notify_heading">
							<div class="d-flex align-items-center">
								<div class="custom-control custom-switch">
								  <input type="checkbox" class="custom-control-input" id="{{ probe_data['label'] }}_notify_temp" name="{{ probe_data['label'] }}_notify_temp" checked>
								  <label class="custom-control-label" for="{{ probe_data['label'] }}_notify_temp"></label>
								</div>
								<button class="btn btn-link p-0 ml-2" type="button" data-toggle="collapse" data-target="#{{ probe_data['label'] }}_collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<i class="fa-solid fa-bullseye"></i>&nbsp; Target Temperature Notification
								</button>
							</div>
						</div>
						<div id="{{ probe_data['label'] }}_collapseOne" class="collapse show" aria-labelledby="{{ probe_data['label'] }}_notify_heading" data-parent="#{{ probe_data['label'] }}_notify_accordion">
							<div class="card-body">
								Send a notification when this probe achieves the target temperature:
								<div class="row d-flex justify-content-center">
									<div class="input-group w-50">
										<input class="form-control text-center temperature-input border-0" name="{{ probe_data['label'] }}_tempOutput" id="{{ probe_data['label'] }}_tempOutputId" type="text" min="0" value="0" pattern="[0-9]*" inputmode="numeric" 
										oninput="{{ probe_data['label'] }}_tempInputId.value = {{ probe_data['label'] }}_tempOutputId.value"
										onclick="this.select()">
									</div>
								</div>	
								{% if probe_data['type'] == 'Primary' %}
									{% if settings['globals']['units'] == 'F' %}
									<input type="range" class="custom-range" min="0" max="600" value="0" id="{{ probe_data['label'] }}_tempInputId" name="{{ probe_data['label'] }}_tempInputRange" oninput="{{ probe_data['label'] }}_tempOutputId.value = {{ probe_data['label'] }}_tempInputId.value" onclick="this.select();">
									{% else %}
									<input type="range" class="custom-range" min="0" max="300" value="0" id="{{ probe_data['label'] }}_tempInputId" name="{{ probe_data['label'] }}_tempInputRange" oninput="{{ probe_data['label'] }}_tempOutputId.value = {{ probe_data['label'] }}_tempInputId.value" onclick="this.select();">
									{% endif %}
								{% else %}
									{% if settings['globals']['units'] == 'F' %}
									<input type="range" class="custom-range" min="0" max="300" value="0" id="{{ probe_data['label'] }}_tempInputId" name="{{ probe_data['label'] }}_tempInputRange" oninput="{{ probe_data['label'] }}_tempOutputId.value = {{ probe_data['label'] }}_tempInputId.value" onclick="this.select();">
									{% else %}
									<input type="range" class="custom-range" min="0" max="225" value="0" id="{{ probe_data['label'] }}_tempInputId" name="{{ probe_data['label'] }}_tempInputRange" oninput="{{ probe_data['label'] }}_tempOutputId.value = {{ probe_data['label'] }}_tempInputId.value" onclick="this.select();">
									{% endif %}
								{% endif %}
								<br><br>
								{% if probe_data['type'] != 'Primary' %}
								<p>When {{ probe_data['name'] }} Achieves Set Point:</p>
								<div class="custom-control custom-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" id="{{ probe_data['label'] }}_shutdown" name="{{ probe_data['label'] }}_shutdown">
									<label class="custom-control-label" for="{{ probe_data['label'] }}_shutdown">Shutdown PiFire</label>
								</div>
								<div class="custom-control custom-checkbox mb-3">
									<input type="checkbox" class="custom-control-input" id="{{ probe_data['label'] }}_keepWarm" name="{{ probe_data['label'] }}_keepWarm">
									<label class="custom-control-label" for="{{ probe_data['label'] }}_keepWarm">Start Keep Warm</label>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					<div class="card">
					  <div class="card-header" id="{{ probe_data['label'] }}_notify_high_limit">
						<div class="d-flex align-items-center">
							<div class="custom-control custom-switch">
							  <input type="checkbox" class="custom-control-input" id="{{ probe_data['label'] }}_limit_high_temp" name="{{ probe_data['label'] }}_limit_high_temp">
							  <label class="custom-control-label" for="{{ probe_data['label'] }}_limit_high_temp"></label>
							</div>
							<button class="btn btn-link p-0 ml-2" type="button" data-toggle="collapse" data-target="#{{ probe_data['label'] }}_collapseTwo" aria-expanded="false" aria-controls="{{ probe_data['label'] }}_collapseTwo">
								<i class="fa-solid fa-arrows-up-to-line"></i>&nbsp; High Limit Temperature Alert Notification
							</button>
						</div>
					  </div>
					  <div id="{{ probe_data['label'] }}_collapseTwo" class="collapse" aria-labelledby="{{ probe_data['label'] }}_notify_high_limit" data-parent="#{{ probe_data['label'] }}_notify_accordion">
						<div class="card-body">
							Send a notification when this probe goes above the high limit temperature:
							<div class="row d-flex justify-content-center">
								<div class="input-group w-50">
									<input class="form-control text-center temperature-input border-0" name="{{ probe_data['label'] }}_high_limit_tempOutput" id="{{ probe_data['label'] }}_high_limit_tempOutputId" type="text" min="0" value="0" pattern="[0-9]*" inputmode="numeric" 
									oninput="{{ probe_data['label'] }}_high_limit_tempInputId.value = {{ probe_data['label'] }}_high_limit_tempOutputId.value"
									onclick="this.select()">
								</div>
							</div>	
							{% if probe_data['type'] == 'Primary' %}
								{% if settings['globals']['units'] == 'F' %}
								<input type="range" class="custom-range" min="0" max="600" value="0" id="{{ probe_data['label'] }}_high_limit_tempInputId" name="{{ probe_data['label'] }}_high_limit_tempInputRange" oninput="{{ probe_data['label'] }}_high_limit_tempOutputId.value = {{ probe_data['label'] }}_high_limit_tempInputId.value" onclick="this.select();">
								{% else %}
								<input type="range" class="custom-range" min="0" max="300" value="0" id="{{ probe_data['label'] }}_high_limit_tempInputId" name="{{ probe_data['label'] }}_high_limit_tempInputRange" oninput="{{ probe_data['label'] }}_high_limit_tempOutputId.value = {{ probe_data['label'] }}_high_limit_tempInputId.value" onclick="this.select();">
								{% endif %}
							{% else %}
								{% if settings['globals']['units'] == 'F' %}
								<input type="range" class="custom-range" min="0" max="300" value="0" id="{{ probe_data['label'] }}_high_limit_tempInputId" name="{{ probe_data['label'] }}_high_limit_tempInputRange" oninput="{{ probe_data['label'] }}_high_limit_tempOutputId.value = {{ probe_data['label'] }}_high_limit_tempInputId.value" onclick="this.select();">
								{% else %}
								<input type="range" class="custom-range" min="0" max="225" value="0" id="{{ probe_data['label'] }}_high_limit_tempInputId" name="{{ probe_data['label'] }}_high_limit_tempInputRange" oninput="{{ probe_data['label'] }}_high_limit_tempOutputId.value = {{ probe_data['label'] }}_high_limit_tempInputId.value" onclick="this.select();">
								{% endif %}
							{% endif %}
							<br><br>
							{% if probe_data['type'] == 'Primary' %}
							<p>When {{ probe_data['name'] }} goes above the high limit:</p>
							<div class="custom-control custom-checkbox mb-3">
								<input type="checkbox" class="custom-control-input" id="{{ probe_data['label'] }}_high_limit_shutdown" name="{{ probe_data['label'] }}_high_limit_shutdown">
								<label class="custom-control-label" for="{{ probe_data['label'] }}_high_limit_shutdown">Shutdown PiFire</label>
							</div>
							{% endif %}
						</div>
					  </div>
					</div>
					<div class="card">
					  <div class="card-header" id="{{ probe_data['label'] }}_notify_low_limit">
						<div class="d-flex align-items-center">
							<div class="custom-control custom-switch">
							  <input type="checkbox" class="custom-control-input" id="{{ probe_data['label'] }}_limit_low_temp" name="{{ probe_data['label'] }}_limit_low_temp">
							  <label class="custom-control-label" for="{{ probe_data['label'] }}_limit_low_temp"></label>
							</div>
							<button class="btn btn-link p-0 ml-2" type="button" data-toggle="collapse" data-target="#{{ probe_data['label'] }}_collapseThree" aria-expanded="false" aria-controls="{{ probe_data['label'] }}_collapseThree">
								<i class="fa-solid fa-arrows-down-to-line"></i>&nbsp; Low Limit Temperature Alert Notification
							</button>
						</div>
					  </div>
					  <div id="{{ probe_data['label'] }}_collapseThree" class="collapse" aria-labelledby="{{ probe_data['label'] }}_notify_low_limit" data-parent="#{{ probe_data['label'] }}_notify_accordion">
						<div class="card-body">
							Send a notification when this probe goes below the low limit temperature:
							<div class="row d-flex justify-content-center">
								<div class="input-group w-50">
									<input class="form-control text-center temperature-input border-0" name="{{ probe_data['label'] }}_low_limit_tempOutput" id="{{ probe_data['label'] }}_low_limit_tempOutputId" type="text" min="0" value="0" pattern="[0-9]*" inputmode="numeric" 
									oninput="{{ probe_data['label'] }}_low_limit_tempInputId.value = {{ probe_data['label'] }}_low_limit_tempOutputId.value"
									onclick="this.select()">
								</div>
							</div>
							{% if probe_data['type'] == 'Primary' %}
								{% if settings['globals']['units'] == 'F' %}
								<input type="range" class="custom-range" min="0" max="600" value="0" id="{{ probe_data['label'] }}_low_limit_tempInputId" name="{{ probe_data['label'] }}_low_limit_tempInputRange" oninput="{{ probe_data['label'] }}_low_limit_tempOutputId.value = {{ probe_data['label'] }}_low_limit_tempInputId.value" onclick="this.select();">
								{% else %}
								<input type="range" class="custom-range" min="0" max="300" value="0" id="{{ probe_data['label'] }}_low_limit_tempInputId" name="{{ probe_data['label'] }}_low_limit_tempInputRange" oninput="{{ probe_data['label'] }}_low_limit_tempOutputId.value = {{ probe_data['label'] }}_low_limit_tempInputId.value" onclick="this.select();">
								{% endif %}
							{% else %}
								{% if settings['globals']['units'] == 'F' %}
								<input type="range" class="custom-range" min="0" max="300" value="0" id="{{ probe_data['label'] }}_low_limit_tempInputId" name="{{ probe_data['label'] }}_low_limit_tempInputRange" oninput="{{ probe_data['label'] }}_low_limit_tempOutputId.value = {{ probe_data['label'] }}_low_limit_tempInputId.value" onclick="this.select();">
								{% else %}
								<input type="range" class="custom-range" min="0" max="225" value="0" id="{{ probe_data['label'] }}_low_limit_tempInputId" name="{{ probe_data['label'] }}_low_limit_tempInputRange" oninput="{{ probe_data['label'] }}_low_limit_tempOutputId.value = {{ probe_data['label'] }}_low_limit_tempInputId.value" onclick="this.select();">
								{% endif %}
							{% endif %}
							<br><br>
							{% if probe_data['type'] == 'Primary' %}
							<p>When {{ probe_data['name'] }} goes below the low limit:</p>
							<div class="custom-control custom-checkbox mb-3">
								<input type="checkbox" class="custom-control-input" id="{{ probe_data['label'] }}_low_limit_shutdown" name="{{ probe_data['label'] }}_low_limit_shutdown">
								<label class="custom-control-label" for="{{ probe_data['label'] }}_low_limit_shutdown">Shutdown PiFire</label>
							</div>
							<div class="custom-control custom-checkbox mb-3">
								<input type="checkbox" class="custom-control-input" id="{{ probe_data['label'] }}_low_limit_reignite" name="{{ probe_data['label'] }}_low_limit_reignite">
								<label class="custom-control-label" for="{{ probe_data['label'] }}_low_limit_reignite">Attempt Re-ignite</label>
							</div>
							<script>
								document.getElementById("{{ probe_data['label'] }}_low_limit_shutdown").addEventListener("click",  
									function(){
										if($(this).is(':checked')){
											document.getElementById("{{ probe_data['label'] }}_low_limit_reignite").checked = false;
										}
									});
							
								document.getElementById("{{ probe_data['label'] }}_low_limit_reignite").addEventListener("click",  
								function(){
									if($(this).is(':checked')){
										document.getElementById("{{ probe_data['label'] }}_low_limit_shutdown").checked = false;
									}
								});
							</script>
							{% endif %}
						</div>
					  </div>
					</div>
				  </div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" id="{{ probe_data['label'] }}_notify_disable" data-dismiss="modal" onclick="cancelNotify('{{ probe_data['label'] }}')">Cancel</button>
				<button type="button" class="btn btn-danger" id="{{ probe_data['label'] }}_notify_enable" data-dismiss="modal" 
					onclick="setNotify('{{ probe_data['label'] }}')">
					Set
				</button>
			</div>
		</div>
	</div>
</div>

{% if probe_data['type'] != 'Primary' %}
<script>
	document.getElementById("{{ probe_data['label'] }}_shutdown").addEventListener("click",  
		function(){
			if($(this).is(':checked')){
				document.getElementById("{{ probe_data['label'] }}_keepWarm").checked = false;
			}
		});

	document.getElementById("{{ probe_data['label'] }}_keepWarm").addEventListener("click",  
	function(){
		if($(this).is(':checked')){
			document.getElementById("{{ probe_data['label'] }}_shutdown").checked = false;
		}
	});
</script>
{% endif %}

{% endmacro %}

{% macro render_hopper_card() %}

<div class="card">
	<div class="card-body text-center">
		<b>Pellets:</b>  <span id="hopperPellets" class="text-truncate"></span>
		<br><br>
		<!-- Hopper Level Indicator-->
		<div class="progress shadow" style="height:30px">
			<div id="hopperLevel" class="progress-bar progress-bar-striped bg-success" style="width:100%;height:30px">100%</div>
		</div>
	</div>
	<div class="card-footer text-center">
		<button type="button" class="btn btn-outline-primary" onclick="refreshHopperStatus()">Refresh Status</button>
		<a href="/pellets" type="button" class="btn btn-outline-primary">Manager</a>
	</div>
</div>

{% endmacro %}

{% macro render_status_card(settings) %}
<div class="card shadow">
	<div class="card-header bg-primary text-white text-center">
		<i class="fas fa-info-circle"></i>&nbsp; Status: <span id="mode_status" style="color:yellow"><b>Stop</b></span>
	</div>
	<div id="status_footer" class="text-center" style="display:none">
		<br>
		<b id="mode_timer_label" style="color:green;display:none">Time Left in Mode: <span id="mode_timer"></span>s</b>
		<b id="lid_open_label" style="color:green;display:none"></b>
	</div>
	<div class="card-body text-center text-large">
		<table class="table table-sm table-borderless">
			<tbody>
				<tr>
					<td>
						<span id="fan_status"><i class="fas fa-fan fa-2x" data-toggle="tooltip" data-placement="top" title="Fan ON" style="color:rgb(150, 150, 150)"></i></span>&nbsp;
					</td>
					<td>
						<span id="auger_status"><i class="fas fa-angle-double-right fa-2x" data-toggle="tooltip" data-placement="top" title="Auger ON" style="color:rgb(150, 150, 150)"></i></span>&nbsp;
					</td>
					<td>
						<span id="igniter_status"><i class="fas fa-fire fa-2x" data-toggle="tooltip" data-placement="top" title="Igniter ON" style="color:rgb(150, 150, 150)"></i></span>&nbsp;
					</td>
					<td id="pmode_icon">
						<span id="pmode_status" class="fa-stack" style="vertical-align: top;">
							<i class="far fa-square fa-stack-2x" style="color:rgb(150, 150, 150)" data-toggle="tooltip" data-placement="top" title="P-Mode"></i>
							<i class="fas fa-minus fa-stack-1x" style="color:rgb(150, 150, 150)"></i>
						</span>
					</td>
					{% if settings['cycle_data']['LidOpenDetectEnabled'] %}
					<td id="lid_open_icon" style="display:none">
						<span id="lid_status"><i class="fa-solid fa-door-closed fa-2x" data-toggle="tooltip" data-placement="top" title="Lid Closed" style="color:rgb(150, 150, 150)"></i></span>&nbsp;
					</td>
					{% endif %}
				</tr>
				<tr>
					<td><span class="badge badge-secondary">Fan</span></td>
					<td><span class="badge badge-secondary">Auger</span></td>
					<td><span class="badge badge-secondary">Igniter</span></td>
					<td id="pmode_badge">
						<span class="badge badge-secondary">P-Mode</span>
					</td>
					{% if settings['cycle_data']['LidOpenDetectEnabled'] %}
					<td id="lid_open_badge" style="display:none">
						<span class="badge badge-secondary">Lid/Door</span>
					</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
		<div {% if (settings['modules']['dist'] == 'none') %}
			style="display:none"
		{% endif %}>
			{{ render_hopper_card() }}
		</div>
	</div>
</div>
{% endmacro %}

{% macro render_time_elapsed_card() %}
<div class="card shadow">
	<div class="card-header bg-primary text-white text-center">
		<i class="fa-regular fa-clock"></i>&nbsp; Time Elapsed Since Start
	</div>
	<div class="card-body text-center text-large">
		<h1>
			<b>
				<span id="time_elapsed_string" class="text-secondary">--</span>
			</b>
		</h1>
		<span class="badge badge-secondary">HH:MM:SS</span>
	</div>
</div>
{% endmacro %}

