{% macro render_timer_bar() %}
<nav class="navbar navbar-light bg-light justify-content-center timer-bar-config" id="timer_bar" style="display:none; z-index: 1000;">
	<div class="btn-toolbar" role="toolbar" id="timer_toolbar">
		<div class="btn-group shadow mr-2" role="group" id="timerStatusGroup">
			<button type="button" class="btn btn-warning" onclick="timerModal();">
				<i class="fas fa-stopwatch"></i>&nbsp; <i id="timer_time_remaining">--:--:--</i>
			</button>
		</div>
		<!-- timerStartGroup Play button only, when stopped -->
		<div class="btn-group shadow mr-2" role="group" id="timerStartGroup" style="display:none;">
			<button type="button" data-toggle="tooltip" title="Start the timer" class="btn btn-warning" onclick="timerModal();"><i class="fas fa-play-circle"></i></button>
		</div>

		<!-- timerActiveGroup -->
		<div class="btn-group shadow mr-2" role="group" id="timerActiveGroup" style="display:none;">
			<button type="button" data-toggle="tooltip" title="Pause the timer" class="btn btn-warning" onclick="timerPause();"><i class="fas fa-pause-circle"></i></button>
			<button type="button" class="btn btn-light mr-0 ml-0 pr-0 pl-0" disabled></button>
			<button type="button" data-toggle="tooltip" title="Stop the timer" class="btn btn-warning" onclick="timerStop();"><i class="fas fa-stop-circle"></i></button>
		</div>

		<!-- timerPausedGroup Show play button and stop button -->
		<div class="btn-group shadow mr-2" role="group" id="timerPausedGroup" style="display:none;">
			<button type="button" data-toggle="tooltip" title="Start the timer" class="btn btn-warning" onclick="timerUnPause();"><i class="fas fa-play-circle"></i></button>
			<button type="button" class="btn btn-light mr-0 ml-0 pr-0 pl-0" disabled></button>
			<button type="button" data-toggle="tooltip" title="Stop the timer" class="btn btn-warning" onclick="timerStop();"><i class="fas fa-stop-circle"></i></button>
		</div>
	</div>
	<div id="toggleTimer" style="display:none">hidden</div>
</nav>
{% endmacro %}

{% macro render_timer_modal() %}
<!-- Timer START Modal -->
<div class="modal" id="timerModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title"><i class="fas fa-clock"></i>&nbsp; Set Timer</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- Modal body -->
			<div class="modal-body text-center">
				<h1><output name="hoursOutput" id="hoursOutputId">0</output> Hours</h1>
				<input type="range" class="custom-range" min="0" max="23" value="0" id="hoursInputId" name="hoursInputRange" oninput="hoursOutputId.value = hoursInputId.value">

				<h1><output name="minsOutput" id="minsOutputId">0</output> Mins</h1>
				<input type="range" class="custom-range" min="0" max="59" value="0" id="minsInputId" name="minsInputRange" oninput="minsOutputId.value = minsInputId.value">
				<br><br>
				<p>When Timer Expires:</p>
				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="shutdownTimer" name="shutdownTimer" onchange="timerShutdownSelect();">
					<label class="custom-control-label" for="shutdownTimer">Shutdown Grill</label>
				</div>
				<div class="custom-control custom-checkbox mb-3">
					<input type="checkbox" class="custom-control-input" id="keepWarmTimer" name="keepWarmTimer" onchange="timerKeepWarmSelect();">
					<label class="custom-control-label" for="keepWarmTimer">Start Keep Warm</label>
				</div>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="timerLaunch();">Start</button>
			</div>
		</div>
	</div>
</div> <!-- End of Timer START Modal -->
{% endmacro %}