{% extends 'base.html' %} 

{% block title %}Admin{% endblock %} 

{% block notify %}
<!-- Settings Success -->
{% if (notify == "success") %}
<br>
<div class="alert alert-success alert-dismissible">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<b> Changes Successfully Applied.</b>
</div>
{% elif notify == "error" %}
<br>
<div class="alert alert-danger alert-dismissible">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<b> There was an error with the attempted action.</b>
</div>
{% endif %}
{% endblock %}

{% block content %}
<br>
<div class="row">
	{% if not request.MOBILE %}
	<div class="col-3">
		<!-- Side Navigation Row -->
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active" id="v-pills-updater-tab" data-toggle="pill" href="#v-pills-updater" role="tab" aria-controls="v-pills-updater" aria-selected="true">System Updates</a>
			<a class="nav-link" id="v-pills-debug-tab" data-toggle="pill" href="#v-pills-debug" role="tab" aria-controls="v-pills-debug" aria-selected="false">Debug & Manual</a>
			<a class="nav-link" id="v-pills-data-tab" data-toggle="pill" href="#v-pills-data" role="tab" aria-controls="v-pills-data" aria-selected="false">Data Management</a>
			<a class="nav-link" id="v-pills-wizard-tab" data-toggle="pill" href="#v-pills-wizard" role="tab" aria-controls="v-pills-wizard" aria-selected="false">Config Wizard</a>
			<a class="nav-link" id="v-pills-power-tab" data-toggle="pill" href="#v-pills-power" role="tab" aria-controls="v-pills-power" aria-selected="false">System Power</a>
			<a class="nav-link" id="v-pills-system-tab" data-toggle="pill" href="#v-pills-system" role="tab" aria-controls="v-pills-system" aria-selected="false">System Info</a>
			<a class="nav-link" id="v-pills-gpio-tab" data-toggle="pill" href="#v-pills-gpio" role="tab" aria-controls="v-pills-gpio" aria-selected="false">GPIO Info</a>
			<a class="nav-link" id="v-pills-modules-tab" data-toggle="pill" href="#v-pills-modules" role="tab" aria-controls="v-pills-modules" aria-selected="false">Module Info</a>
			<a class="nav-link" id="v-pills-pifire-tab" data-toggle="pill" href="#v-pills-pifire" role="tab" aria-controls="v-pills-pifire" aria-selected="false">PiFire Info</a>
			<a class="nav-link" id="v-pills-credits-tab" data-toggle="pill" href="#v-pills-credits" role="tab" aria-controls="v-pills-credits" aria-selected="false">Credits & Licenses</a>
		</div>
	</div>
	{% endif %}
	<div class="{% if request.MOBILE %}col-12{% else %}col-9{% endif %}">
		<!-- ============================ System Updates =============================== -->
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-updater" role="tabpanel" aria-labelledby="v-pills-updater-tab">
				<div class="card shadow">
					<div class="card-header bg-secondary text-white">
						<h5>
							<i class="far fa-arrow-alt-circle-up"></i>&nbsp; System Update <i>(Current Version: {{ settings['versions']['server'] }})</i>
						</h5>
					</div>
					<div class="card-body text-center">
						<div id="update_checking">Checking for update... <br>
							<div class="spinner-border text-primary" role="status" id="update_status_spinner">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
						<div id="update_available" style="display:none">
							<form method="POST" action=/update>
								<a href="/update" class="btn btn-success btn-block shadow">
									<h1><i class="fas fa-cloud-download-alt"></i></h1>
									<h4><strong>An update is available!</strong></h4>
									You are currently <i id="commits_behind"></i> changes behind the latest on this branch. <br>
									Click Here to go to the Updater
								</a>
								<button type="submit" class="btn btn-outline-success btn-block shadow" name="show_log" id="show_log" value="true">Show Changes</button>
							</form>
						</div>
						<div id="update_failed" style="display:none">
							<div class="alert alert-danger fade show" role="alert">
								<h1><i class="fas fa-exclamation-triangle"></i></h1>
								<strong>Error!</strong> The update check failed for some reason. Check your logs.
							</div>
							<a href="/update" class="btn btn-outline-danger btn-block shadow" role="button">Go to the Updater</a>
						</div>
						<div id="update_current" style="display:none">
							<div class="alert alert-info fade show" role="alert">
								<h1><i class="far fa-check-circle"></i></h1>
								<strong>You are up to date!</strong>
							</div>
							<a href="/update" class="btn btn-outline-info btn-block shadow" role="button">Go to the Updater</a>
						</div>
					</div>
				</div>
				{% if not request.MOBILE %}<br><br><br>{% endif %}
			</div><!-- End of Tab -->
			
			<!-- ============================ Debug and Manual Options ========================== -->
			{% if request.MOBILE %}<br>{% endif %}
			<div class="tab-pane fade {% if request.MOBILE %} show active {% endif %}" id="v-pills-debug" role="tabpanel" aria-labelledby="v-pills-debug-tab">
				<div class="card shadow">
					<div class="card-header bg-secondary text-white">
						<h5>
							<i class="fas fa-bug"></i>&nbsp; Debug Mode
						</h5>
					</div>
					<div class="card-body">
						<form name="input" action="/admin/setting" method="POST">
							<!-- Enable / Disable Debug Mode -->
							{% if debug_mode == True %}
							<button type="submit" name="debugenabled" value="disabled" class="btn btn-success btn-block shadow">Enabled</button>
							{% else %}
							<button type="submit" name="debugenabled" value="enabled" class="btn btn-outline-secondary btn-block shadow">Disabled</button>
							{% endif %}
						</form>
						<br>
						<span class="badge badge-warning">NOTE:</span><i class="small"> This mode enables a debug.log to be generated with more verbose debug information provided.  May impact performance. </i>
						<br>
						<br>
						<a href="/manual" class="btn btn-outline-warning btn-block shadow" role="button"><i class="fas fa-sliders-h"></i> Manual Controls</a><br>
						<span class="badge badge-warning">NOTE:</span><i class="small"> This mode cancels current mode and will allow you to control the Auger, Fan, Igniter and Power outputs from the relay.</i>
						<br>
					</div>
				</div>
				{% if not request.MOBILE %}<br><br><br>{% endif %}
			</div><!-- End of Tab -->
			<!-- ============================ Data Management ========================== -->
			{% if request.MOBILE %}<br>{% endif %}
			<div class="tab-pane fade {% if request.MOBILE %} show active {% endif %}" id="v-pills-data" role="tabpanel" aria-labelledby="v-pills-data-tab">
				<div class="card shadow">
					<div class="card-header bg-danger text-white">
						<h5>
							<i class="fas fa-database"></i>&nbsp; Data Management
						</h5>
					</div>
					<div class="card-body">
						<form name="input" action="/admin/setting" method="POST">
							<!-- Download Logs -->
							<button type="submit" class="btn btn-outline-success btn-block shadow" name="download_logs" value="true">
								Download Server Logs
							</button>
							<br>
							<!-- Backup Settings -->
							<button type="submit" class="btn btn-outline-success btn-block shadow" name="backupsettings" value="true">
								Backup Settings
							</button>
							<br>
							<!-- Restore Settings -->
							<button type="button" class="btn btn-outline-primary btn-block shadow" data-toggle="modal" data-target="#restoresettingsModal">
								Restore Settings
							</button>
							<br>
							<!-- Backup PelletDB -->
							<button type="submit" class="btn btn-outline-success btn-block shadow" name="backuppelletdb" value="true">
								Backup Pellet Database
							</button>
							<br>
							<!-- Restore PelletDB -->
							<button type="button" class="btn btn-outline-primary btn-block shadow" data-toggle="modal" data-target="#restorepelletdbModal">
								Restore Pellet Database
							</button>
							<br>
							<!-- Clear History -->
							<button type="button" class="btn btn-outline-warning btn-block text-red shadow" data-toggle="modal" data-target="#clearallhistoryModal">
								Delete History
							</button>
							<!-- Clear History Modal -->
							<div class="modal" id="clearallhistoryModal">
								<div class="modal-dialog">
									<div class="modal-content">
										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Clear History</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<!-- Modal body -->
										<div class="modal-body text-center">
											Are you sure that you want to permanently delete the history.log?  This operation cannot be undone.
										</div>
										<!-- Modal footer -->
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-danger" name="clearhistory" value="true">I'm Sure.</button>
										</div>
									</div>
								</div>
							</div>
							<br>
							<!-- Clear Events Button -->
							<button type="button" class="btn btn-outline-warning btn-block text-red shadow" data-toggle="modal" data-target="#clearalleventsModal">
								Delete Event Log
							</button>
							<!-- Clear Events Modal -->
							<div class="modal" id="clearalleventsModal">
								<div class="modal-dialog">
									<div class="modal-content">
										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Clear Event Log</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<!-- Modal body -->
										<div class="modal-body text-center">
											Are you sure that you want to permanently delete the event.log?  This operation cannot be undone.
										</div>
										<!-- Modal footer -->
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-danger" name="clearevents" value="true">I'm Sure.</button>
										</div>
									</div>
								</div>
							</div>
							<br>
							<!-- Clear Pellets Log Button -->
							<button type="button" class="btn btn-outline-warning btn-block text-red shadow" data-toggle="modal" data-target="#clearpelletbdlogModal">
								Delete Pellets Log
							</button>
							<!-- Clear Pellet Log Modal -->
							<div class="modal" id="clearpelletbdlogModal">
								<div class="modal-dialog">
									<div class="modal-content">
										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Clear Pellets Log</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<!-- Modal body -->
										<div class="modal-body text-center">
											Are you sure that you want to permanently delete the pellets log?  This operation cannot be undone.
										</div>
										<!-- Modal footer -->
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-danger" name="clearpelletdblog" value="true">I'm Sure.</button>
										</div>
									</div>
								</div>
							</div>
							<br>
							<!-- Clear PelletDB Button -->
							<button type="button" class="btn btn-outline-warning btn-block text-red shadow" data-toggle="modal" data-target="#clearallpelletModal">
								Delete Pellet Database
							</button>
							<!-- Clear PelletDB Modal -->
							<div class="modal" id="clearallpelletModal">
								<div class="modal-dialog">
									<div class="modal-content">
										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Clear Pellet DB</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<!-- Modal body -->
										<div class="modal-body text-center">
											Are you sure that you want to permanently delete pelletdb.json?
											<br>
											<br>
											<i class="small">Removes all added/modified pellet profiles, brands, wood types and pellet log.  This operation cannot be undone.</i>
										</div>
										<!-- Modal footer -->
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-danger" name="clearpelletdb" value="true">I'm Sure.</button>
										</div>
									</div>
								</div>
							</div>
							<br>
							<!-- Factory Settings -->
							<button type="button" class="btn btn-outline-danger btn-block shadow" data-toggle="modal" data-target="#factoryModal">
								Reset to Factory Settings
							</button>
							<!-- Factory Settings Modal -->
							<div class="modal" id="factoryModal">
								<div class="modal-dialog">
									<div class="modal-content">
										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Reset Factory Defaults</h4>
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<!-- Modal body -->
										<div class="modal-body text-center">
											Are you sure that you want to reset to factory defaults?
											<br>
											<br>
											<span class="badge badge-warning">NOTE:</span><i class="small"> Clears all settings, current controls/mode, probe profiles, and history and restarts scripts. This operation cannot be undone.</i>
										</div>
										<!-- Modal footer -->
										<div class="modal-footer">
											<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-danger" name="factorydefaults" value="true">I'm Sure.</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				{% if not request.MOBILE %}<br><br><br>{% endif %}
			</div><!-- End of Tab -->
			<!-- Restore Settings Modal -->
			<form method="POST" action="/admin/setting" enctype="multipart/form-data">
				<div class="modal" id="restoresettingsModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Restore Settings from Backup</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body text-center">
								<div class="accordion" id="localremoteaccordian">
									<div class="card">
										<div class="card-header" id="localfiles">
											<h2 class="mb-0">
												<button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseLocal" aria-expanded="false" aria-controls="collapseLocal">
													<i class="far fa-folder-open"></i>&nbsp; Restore from Local Backups
												</button>
											</h2>
										</div>
										<div id="collapseLocal" class="collapse" aria-labelledby="localfiles" data-parent="#localremoteaccordian">
											<div class="card-body">
												<!-- Choose Local File -->
												<div class="form-group">
													<label for="localfile">Choose a Local Settings Backup File:</label>
													<select class="form-control" id="localfile" name="localfile">
														{% if files != [] %}
														<option value="none">Select a file...</option>
														{% for file in files %}
														<option value="{{ file }}">{{ file }}</option>
														{% endfor %}
														{% else %}
														<option value="none">No Local Backups Available</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="remotefiles">
											<h2 class="mb-0">
												<button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseRemote" aria-expanded="false" aria-controls="collapseRemote">
													<i class="fas fa-file-upload"></i>&nbsp; Restore from Remote Backups
												</button>
											</h2>
										</div>
										<div id="collapseRemote" class="collapse" aria-labelledby="remotefiles" data-parent="#localremoteaccordian">
											<div class="card-body">
												<!-- Upload Remote File -->
												<div class="form-group">
													<label for="remotefile">Upload a Settings Backup File:</label>
													<input type="file" class="form-control-file" id="remotefile" name="uploadfile" accept=".json">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-danger" name="restoresettings" value="true">Restore</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- Restore PelletDB Modal -->
			<form method="POST" action="/admin/setting" enctype="multipart/form-data">
				<div class="modal" id="restorepelletdbModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Restore PelletDB from Backup</h4>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<!-- Modal body -->
							<div class="modal-body text-center">
								<div class="accordion" id="localremoteaccordian">
									<div class="card">
										<div class="card-header" id="localfiles">
											<h2 class="mb-0">
												<button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseLocal" aria-expanded="false" aria-controls="collapseLocal">
													<i class="far fa-folder-open"></i>&nbsp; Restore from Local Backups
												</button>
											</h2>
										</div>
										<div id="collapseLocal" class="collapse" aria-labelledby="localfiles" data-parent="#localremoteaccordian">
											<div class="card-body">
												<!-- Choose Local File -->
												<div class="form-group">
													<label for="localfile">Choose a Local PelletDB Backup File:</label>
													<select class="form-control" id="localfile" name="localfile">
														{% if files != [] %}
														<option value="none">Select a file...</option>
														{% for file in files %}
														<option value="{{ file }}">{{ file }}</option>
														{% endfor %}
														{% else %}
														<option value="none">No Local Backups Available</option>
														{% endif %}
													</select>
												</div>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header" id="remotefiles">
											<h2 class="mb-0">
												<button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseRemote" aria-expanded="false" aria-controls="collapseRemote">
													<i class="fas fa-file-upload"></i>&nbsp; Restore from Remote Backups
												</button>
											</h2>
										</div>
										<div id="collapseRemote" class="collapse" aria-labelledby="remotefiles" data-parent="#localremoteaccordian">
											<div class="card-body">
												<!-- Upload Remote File -->
												<div class="form-group">
													<label for="remotefile">Upload a PelletDB Backup File:</label>
													<input type="file" class="form-control-file" id="remotefile" name="uploadfile" accept=".json">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Modal footer -->
							<div class="modal-footer">
								<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
								<button type="submit" class="btn btn-danger" name="restorepelletdb" value="true">Restore</button>
							</div>
						</div>
					</div>
				</div>
			</form>
			<!-- ============================ Configuration Wizard ========================== -->
			{% if request.MOBILE %}<br>{% endif %}
			<div class="tab-pane fade {% if request.MOBILE %} show active {% endif %}" id="v-pills-wizard" role="tabpanel" aria-labelledby="v-pills-wizard-tab">
				<div class="card shadow">
					<div class="card-header bg-primary text-white">
						<h5>
							<i class="fas fa-hat-wizard"></i>&nbsp; PiFire Configuration Wizard
						</h5>
					</div>
					<div class="card-body">
						<a href="/wizard" class="btn btn-outline-primary btn-block shadow">Launch PiFire Configuration Wizard</a>
					</div>
				</div>
				{% if not request.MOBILE %}<br><br><br>{% endif %}
			</div><!-- End of Tab -->
			<!-- ============================ System Power ========================== -->
			{% if request.MOBILE %}<br>{% endif %}
			<div class="tab-pane fade {% if request.MOBILE %} show active {% endif %}" id="v-pills-power" role="tabpanel" aria-labelledby="v-pills-power-tab">
				<div class="card shadow">
					<div class="card-header bg-danger text-white">
						<h5>
							<i class="fas fa-power-off"></i>&nbsp; System Power
						</h5>
					</div>
					<div class="card-body">
						<!-- Reboot -->
						<form name="input" action="/admin/restart">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-outline-warning btn-block shadow" data-toggle="modal" data-target="#restartModal">
								Restart Server (No Reboot)
							</button>
							<!-- Reboot Modal -->
							<div class="modal fade" id="restartModal" tabindex="-1" role="dialog" aria-labelledby="restartModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="restartModalLabel">Restart Server</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Are you sure you would like to restart the server (not a system reboot)?
											<br><i>Any unsaved data may be lost.</i></p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-primary" name="restart" value="True">Confirm</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						<br>
						<!-- Reboot -->
						<form name="input" action="/admin/reboot">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-outline-warning btn-block shadow" data-toggle="modal" data-target="#rebootModal">
								Reboot System
							</button>
							<!-- Reboot Modal -->
							<div class="modal fade" id="rebootModal" tabindex="-1" role="dialog" aria-labelledby="rebootModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="rebootModalLabel">Reboot</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Are you sure you would like to reboot the system?
											<br><i>Any unsaved data may be lost.</i></p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-primary" name="reboot" value="True">Confirm</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						<br>
						<!-- Shutdown -->
						<form name="input" action="/admin/shutdown">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-outline-danger btn-block shadow" data-toggle="modal" data-target="#shutdownModal">
								Shutdown System
							</button>
							<!-- Shutdown Modal -->
							<div class="modal fade" id="shutdownModal" tabindex="-1" role="dialog" aria-labelledby="shutdownModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="shutdownModalLabel">Shutdown</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<p>Are you sure you would like to shutdown the system?
											<br><i>Any unsaved data may be lost.  System must be manually started after a shutdown.</i></p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
											<button type="submit" class="btn btn-primary" name="shutdown" value="True">Confirm</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				{% if not request.MOBILE %}<br><br><br>{% endif %}
			</div><!-- End of Tab -->
			<!-- ============================ System Info ========================== -->
			{% if request.MOBILE %}<br>{% endif %}
			<div class="tab-pane fade {% if request.MOBILE %} show active {% endif %}" id="v-pills-system" role="tabpanel" aria-labelledby="v-pills-system-tab">
				<!-- Uptime Card -->
				<div class="card shadow">
					<div class="card-header bg-secondary text-white">
						<h5>
							<i class="fas fa-info-circle"></i>&nbsp; Uptime
						</h5>
					</div>
					<div class="card-body">
						{{ uptime }}
					</div>
				</div>
				<br>
				<!-- System Info -->
				<div class="card shadow">
					<div class="card-header bg-secondary text-white">
						<h5>
							<i class="fas fa-info-circle"></i>&nbsp; System Information
						</h5>
					</div>
					<div class="card-body">
						<b>CPU Info</b><br>
						{% for line in cpuinfo %}
							{{ line }}<br>
						{% endfor %}
						<br>
						<p><b>CPU Temperature:</b> {{ temp }}</p>
						<br>
						<b>Network Info</b><br>
						{% for lines in ifconfig %}
							{{ lines }}<br>
						{% endfor %}
					</div>
				</div>
				{% if not request.MOBILE %}<br><br><br>{% endif %}
			</div><!-- End of Tab -->
			<!-- ============================ GPIO Info ========================== -->
			{% if request.MOBILE %}<br>{% endif %}
			<div class="tab-pane fade {% if request.MOBILE %} show active {% endif %}" id="v-pills-gpio" role="tabpanel" aria-labelledby="v-pills-gpio-tab">
				<div class="card shadow">
					<div class="card-header bg-secondary text-white">
						<h5>
							<i class="fas fa-info-circle"></i>&nbsp; GPIO Input/Output Info
						</h5>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
								<tr>
									<th>Output Name</th>
									<th>Output Pin</th>
								</tr>
							</thead>
							<tbody>
								{% for index, data in settings['outpins'].items()|sort %}
								<tr>
									<td>{{ index }}</td>
									<td>{{ settings['outpins'][index] }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<br>
						<table class="table">
							<thead>
								<tr>
									<th>Input Name</th>
									<th>Input Pin</th>
								</tr>
							</thead>
							<tbody>
								{% for index, data in settings['inpins'].items()|sort %}
								<tr>
									<td>{{ index }}</td>
									<td>{{ settings['inpins'][index] }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<br>
				<div class="card shadow">
					<div class="card-header bg-secondary text-white">
						<h5>
							<i class="fas fa-info-circle"></i>&nbsp; GPIO Device Info
						</h5>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
							<tr>
								<th>Device</th>
								<th>Function</th>
								<th>GPIO Pin</th>
							</tr>
							</thead>
							<tbody>
							{% for device in settings['dev_pins'] %}
								<tr>
									<td>{{ device.capitalize() }}</td>
									<td></td>
									<td></td>
								</tr>
								{% for index, data in settings['dev_pins'][device].items()|sort %}
								<tr>
									<td></td>
									<td>{{ index }}</td>
									<td>{{ settings['dev_pins'][device][index] }}</td>
								</tr>
								{% endfor %}
							{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% if not request.MOBILE %}<br><br><br>{% endif %}
			</div><!-- End of Tab -->
			<!-- ============================ Modules Info ========================== -->
			{% if request.MOBILE %}<br>{% endif %}
			<div class="tab-pane fade {% if request.MOBILE %} show active {% endif %}" id="v-pills-modules" role="tabpanel" aria-labelledby="v-pills-modules-tab">
				<div class="card shadow">
					<div class="card-header bg-secondary text-white">
						<h5>
							<i class="fas fa-info-circle"></i>&nbsp; Modules
						</h5>
					</div>
					<div class="card-body">
						<table class="table">
							<thead>
							<tr>
								<th>Module</th>
								<th>Configured</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>Platform</td>
								<td>{{ settings['modules']['grillplat'] }}</td>
							</tr>
							<tr>
								<td>Display</td>
								<td>{{ settings['modules']['display'] }}</td>
							</tr>
							<tr>
								<td>Distance</td>
								<td>{{ settings['modules']['dist'] }}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				{% if not request.MOBILE %}<br><br><br>{% endif %}
			</div><!-- End of Tab -->
			<!-- ============================ PiFire Info ========================== -->
			{% if request.MOBILE %}<br>{% endif %}
			<div class="tab-pane fade {% if request.MOBILE %} show active {% endif %}" id="v-pills-pifire" role="tabpanel" aria-labelledby="v-pills-pifire-tab">
				<div class="card shadow">
					<div class="card-header bg-secondary text-white">
						<h5>
							<i class="fas fa-info-circle"></i>&nbsp; PiFire Info
						</h5>
					</div>
					<div class="card-body">
						<b>PiFire Version:</b> {{ settings['versions']['server'] }}<br>
						<br><a href="https://nebhead.github.io/PiFire" target="_blank" class="btn btn-outline-primary btn-block shadow" role="button">Read the Latest Documentation &nbsp;<i class="fas fa-external-link-alt"></i></a>
						<br><a href="https://github.com/nebhead/PiFire" target="_blank" class="btn btn-outline-primary btn-block shadow" role="button">Goto the GitHub Repo &nbsp;<i class="fas fa-external-link-alt"></i></i></a>
						<br><a href="https://github.com/nebhead/PiFire/issues" target="_blank" class="btn btn-outline-primary btn-block shadow" role="button">Submit an Issue &nbsp;<i class="fas fa-external-link-alt"></i></i></a>
						<br><a href="https://github.com/weberbox/PiFire-Android" target="_blank" class="btn btn-outline-primary btn-block shadow" role="button">Get the Native Android App &nbsp;<i class="fas fa-external-link-alt"></i></i></a>
						<br>
						<!-- QR Code -->
						<button type="button" class="btn btn-outline-primary btn-block shadow" data-toggle="modal" data-target="#qrModal">
							PiFire Address QR Code
						</button>
						<!-- QR Modal -->
						<div class="modal" id="qrModal">
							<div class="modal-dialog">
								<div class="modal-content">
									<!-- Modal Header -->
									<div class="modal-header">
										<h4 class="modal-title"><i class="fas fa-qrcode"></i> QR Code</h4>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>
									<!-- Modal body -->
									<div class="modal-body text-center">
										Scan QR Code to setup application
										<br>
										<br>
										{{ qr_content }}
										<br>
										<br>
										<img src="{{ qrcode(qr_content) }}">
									</div>
									<!-- Modal footer -->
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% if not request.MOBILE %}<br><br><br>{% endif %}
			</div><!-- End of Tab -->
			<!-- ============================ Credits and Licenses ========================== -->
			{% if request.MOBILE %}<br>{% endif %}
			<div class="tab-pane fade {% if request.MOBILE %} show active {% endif %}" id="v-pills-credits" role="tabpanel" aria-labelledby="v-pills-credits-tab">
				<div class="card shadow">
					<div class="card-header bg-secondary text-white">
						<h5>
							<i class="fas fa-info-circle"></i>&nbsp; Credits and Licenses
						</h5>
					</div>
        			<div class="card card-body">
            			<p>Web Application created by <a href="https://parmeter.net/tech" target="blank">Ben Parmeter</a>, copyright 2020. Check out my other projects on <a href="https://github.com/nebhead" target="blank">GitHub.</a></p>
            			<p><i>If you enjoy this software and feel the need to donate a cup of coffee, a frosty beer or a bottle of wine to the developer you can click <a href="https://paypal.me/benparmeter" target="blank">here.</a></i></p>
            			<p><i>Of course, none of this project would be available without the wonderful and amazing folks below... </i></p><br>
            			<ul class="list-group">
							<li class="list-group-item"><b>PiSmoker</b> - The project that served as the inspiration for this project and where the PID controller is wholesale borrowed from.  Special mention to Dan for providing encouraging feedback from day one of this project.  Many thanks!  Copyright Dan Borello. (<a href="http://engineeredmusings.com/pismoker/" target="blank">engineeredmusings.com</a>)(<a href="https://github.com/DBorello/PiSmoker" target="blank">github.com</a>)</li>
							<li class="list-group-item"><b>SVG Gauge</b> - Credits to Aniket Naik for the excellent SVG-Gauge. Released under the MIT License Copyright (c) 2016  (<a href="https://github.com/naikus" target="blank">github profile</a>)(<a href="https://github.com/naikus/svg-gauge" target="blank">github.com</a>)</li>
							<li class="list-group-item"><b>Bootstrap Colorpicker</b> - Color picker for configuring the chart line colors. Copyright (c) 2017 Javi Aguilar. Released under MIT license.  (<a href="https://github.com/itsjavi/bootstrap-colorpicker" target="blank">github.com</a>)</li>
							<li class="list-group-item"><b>Bootstrap</b> - WebUI Based on Bootstrap 4.  Bootstrap is released under the MIT license and is copyright 2018 Twitter. (<a href="http://getbootstrap.com" target="blank">getbootstrap.com</a>)</li>
							<li class="list-group-item"><b>JQuery</b> - Required by Bootstrap. Copyright JS Foundation and other contributors. Released under MIT license. (<a href="https://jquery.org/license/" target="blank">jquery.org/license</a>)</li>
							<li class="list-group-item"><b>Popper</b> - Required by Bootstrap. Copyright 2016, 2018 FEDERICO ZIVOLO & CONTRIBUTORS. Released under MIT license. (<a href="https://popper.js.org/" target="blank">popper.js.org</a>)</li>
							<li class="list-group-item"><b>Chartjs</b> - For the fancy charts. Copyright 2018 Chart.js Contributors. Released under MIT license. (<a href="https://chartjs.org/" target="blank">chartjs.org</a>)</li>
							<li class="list-group-item"><b>FontAwesome</b> - Amazing FREE Icons that I use throughout this project.  Copyright Font Awesome.  Released under the Font Awesome Free License. (<a href="https://fontawesome.com/" target="blank">fontawesome.com</a>)(<a href="https://github.com/FortAwesome/Font-Awesome" target="blank">github.com</a>)</li>
            			</ul>
        			</div>
				</div>
				{% if not request.MOBILE %}<br><br><br>{% endif %}
			</div><!-- End of Tab -->
		</div><!-- End of Tab Content -->
	</div><!-- End of Col -->
</div><!-- End of Row -->
{% endblock %}
{% block scripts %} 
<!-- Updater Script -->
<script> 
	$(document).ready(function(){
		// Select last pill
		$('a[data-toggle="pill"]').on('show.bs.tab', function(e) {
			sessionStorage.setItem('activeTabAdmin', $(e.target).attr('href'));
		});
		var activeTabAdmin = sessionStorage.getItem('activeTabAdmin');
		if (activeTabAdmin) {
			$('#v-pills-tab a[href="' + activeTabAdmin + '"]').tab('show');
		}

		req = $.ajax({
			url : '/checkupdate',
			type : 'GET'
		});
		req.done(function(data) {
			if(data['result'] != 'success') {
				//console.log(data)
				$('#update_checking').hide();
				$('#update_failed').show();
			} else {
				//console.log(data)
				if(data['behind'] != 0) {
					$('#update_checking').hide();
					$('#commits_behind').html(data['behind']);
					$('#show_log').val(data['behind']);
					$('#update_available').show();
				} else {
					$('#update_checking').hide();
					$('#update_current').show();
				}
			};
		});
	  });
</script>
{% endblock %}