<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block head %} {% endblock %}

        <!-- Bootstrap CSS -->
        {% if page_theme == 'dark' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.bootstrap.min.css') }}" type="text/css" />
        {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
        {% endif %}

		<!-- Navbar CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" type="text/css" /> 

        {% block cssextend %} {% endblock %}

        <!-- Adding a Favicon -->
        <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />

        <!-- WebApp Manifest -->
        <link rel="manifest" href="{{ url_for('manifest') }}">

        <title>{% block title %}{% endblock %}{% if grill_name != '' %} | {{ grill_name }}{% endif %}</title>

    </head>
    <body class="{% block body_class %}{% endblock %}">
		<!-- Navbar Header -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<a class="navbar-brand text-truncate" {% if request.MOBILE %}style="max-width: 210px;"{% endif %} href="/">
				<img src="{{ url_for('static', filename='img/launcher-icon-1x.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
				<b>Pi<i class="text-danger">Fire</i></b>
				{% if grill_name != '' %}
					| <small class="">{{ grill_name }}</small> 
				{% endif %}
			</a>
			<div class="ml-auto d-flex order-0 order-lg-1">
				{% block timer_toggler %}
				<div class="btn-group mr-2 custom-toggler" role="group">
					<button type="button" class="btn btn-outline-secondary border-secondary" id="timerButton" onclick="timerToggle()">
						<i class="fas fa-stopwatch"></i>
					</button>
				</div>
				{% endblock %}
				<button class="navbar-toggler btn btn-outline-secondary border-secondary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fas fa-bars"></i>
				</button>
			</div>
			<div class="collapse navbar-collapse order-1 order-lg-0 d-lg-flex justify-content-lg-start mx-lg-0" id="navbarNav">
				<ul class="navbar-nav mx-auto mx-lg-0 text-center">
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Dashboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/recipes' %}active{% endif %}" href="/recipes">Recipes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/history' %}active{% endif %}" href="/history">History</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/events' %}active{% endif %}" href="/events">Events</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/settings' %}active{% endif %}" href="/settings">Settings</a>
					</li>
					<li class="nav-item">
						<a class="nav-link {% if request.path == '/admin' %}active{% endif %}" href="/admin">Admin</a>
					</li>
				</ul>
			</div>
		</nav>

		{% block timer_bar %}
			{% from '_macro_timer.html' import render_timer_bar, render_timer_modal %}
			{{ render_timer_bar() }}
			{{ render_timer_modal() }}
		{% endblock %}

		<div class="container theme-showcase" role="main">

		{% block notify %}
			<!-- Begin Error Notification Section -->
			{% if errors is defined %}
				{% if errors != [] %}<br>{% endif %}
				{% for error in errors %}
					<div class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<b><i class="fas fa-exclamation-triangle"></i>&nbsp; ERROR:</b> <i>{{ error }}</i>
					</div>
				{% endfor %}
			{% endif %}
			{% if warnings is defined %}
				{% if warnings != [] %}<br>{% endif %}
				{% for warning in warnings %}
					<div class="alert alert-info alert-dismissible">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<b><i class="fa-solid fa-circle-info"></i>&nbsp; Info:</b> <i>{{ warning }}</i>
					</div>
				{% endfor %}
			{% endif %}
			{% if success is defined %}
				{% if success != [] %}<br>{% endif %}
				{% for message in success %}
					<div class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<b><i class="fa-solid fa-circle-info"></i>&nbsp; Success:</b> <i>{{ message }}</i>
					</div>
				{% endfor %}
			{% endif %}
			<!-- End Error Notification Section -->
		{% endblock %}

		{% block content %} {% endblock %}
		<br>
		</div>
		{% block postcontainer %}{% endblock %}

		{% block controlpanel %}
			{% if settings['globals']['global_control_panel'] %}
				<!-- Control Panel -->
				{% from "_macro_control_panel.html" import render_container %}
				{{ render_container(settings, control) }}
				<!-- End Control Panel -->
			{% endif %}
		{% endblock %}

		{% block updater_message %}
			{% if settings is defined %}
				{% if settings['globals']['updated_message'] %}
				<!-- Updater Message Modal -->
				<div class="modal fade" id="updater_message_modal" data-backdrop="false" data-keyboard="false" tabindex="-1" aria-labelledby="udpate_message_title" aria-hidden="true">
					<div class="modal-dialog modal-dialog-scrollable modal-xl">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="update_message_title"><i class="fa-solid fa-gift"></i>&nbsp; Update Message</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearMessage();">
							<span aria-hidden="true">&times;</span>
						</button>
						</div>
						<div class="modal-body">
							<div id="update_message_html">
							Loading...
							</div>
						</div>
						<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="clearMessage();">Close</button>
						</div>
					</div>
					</div>
				</div>
				{% endif %}
			{% endif %}
		{% endblock %}

        <!-- Standard JavaScript -->
        <!-- jQuery --> 
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <!-- Font Awesome -->
        <script src="{{ url_for('static', filename='js/all.js') }}"></script>
		
		{% block timer_scripts %}
		<!-- Timer JS -->
		<script src="{{ url_for('static', filename='js/timer.js') }}"></script>
		{% endblock %}

		{% block controlpanel_scripts %}
			{% if settings['globals']['global_control_panel'] %}
				<!-- Control Panel JS -->
				<script src="{{ url_for('static', filename='js/control_panel.js') }}"></script>
			{% endif %}
		{% endblock %}

		{% block updater_message_scripts %}
			{% if settings is defined %}
				{% if settings['globals']['updated_message'] %}
				<!-- Updater Message Scripts -->
				<script src="{{ url_for('static', filename='js/updater_message.js') }}"></script>
				{% endif %}
			{% endif %}
		{% endblock %}

		{% block scripts %} 
		<!--Select input text in modal dialogue-->
		<script>
			document.getElementById('setpointModal').addEventListener('shown.bs.modal', function () {
				var input = document.getElementById('tempOutputId');
				input.focus();
				input.select();
			});
		</script>
		{% endblock %}		

    </body>
</html>