<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block head %} {% endblock %}

        <!-- Bootstrap CSS -->
        {% if page_theme == 'dark' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dark.bootstrap.min.css') }}" type="text/css" />
        {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
        {% endif %}

        {% block cssextend %} {% endblock %}

        <!-- Adding a Favicon -->
        <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />

        <!-- WebApp Manifest -->
        <link rel="manifest" href="{{ url_for('manifest') }}">

        <title>{% block title %}{% endblock %}{% if grill_name != '' %} | {{ grill_name }}{% endif %}</title>

    </head>
    <body>
		<!-- Navbar Header -->
		<nav class="navbar sticky-top navbar-dark bg-dark">

			<a class="navbar-brand" href="/">
				<img src="{{ url_for('static', filename='img/launcher-icon-1x.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
				<b>Pi<i class="text-danger">Fire</i></b>{% if grill_name != '' %} | {{ grill_name }}{% endif %}</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="nav navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">Dashboard</a>
						</li>
                        <li class="nav-item">
							<a class="nav-link" href="/pellets">Pellet Manager</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/history">History</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/events">Events</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/settings">Settings</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin">Admin</a>
						</li>
					</ul>
				</div>
		</nav>

		{% block timer_bar %}
		<nav class="navbar navbar-light bg-light justify-content-center" id="timer_bar" style="display:none">
			<div class="btn-group shadow" id="timer_btn_grp">
				<button type="button" class="btn btn-warning"><i class="fas fa-stopwatch"></i>&nbsp; <i id="timer_time_remaining">--:--:--</i></button>
				<button type="button" data-toggle="tooltip" title="Start the timer" class="btn btn-outline-success border-warning" id="timer_start"><i class="fas fa-play-circle"></i></button>
				<button type="button" data-toggle="tooltip" title="Pause the timer" class="btn btn-outline-warning" id="timer_pause"><i class="fas fa-pause-circle"></i></button>
				<button type="button" data-toggle="tooltip" title="Stop the timer" class="btn btn-outline-danger border-warning" id="timer_stop"><i class="fas fa-stop-circle"></i></button>
			</div>
			&nbsp;
			<button type="button" data-toggle="tooltip" title="Hide the timer" class="btn btn-light btn-sm" id="timer_hide"><i class="far fa-eye-slash"></i></button>
		</nav>
		{% endblock %}

		<div class="container theme-showcase" role="main">

		{% block notify %}
			<!-- Begin Error Notification Section -->
			{% if errors != [] %}
				<br>
				{% for error in errors %}
					<div class="alert alert-danger alert-dismissible">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<b><i class="fas fa-exclamation-triangle"></i>&nbsp; ERROR:</b> <i>{{ error }}</i>
					</div>
				{% endfor %}
			{% endif %}
			<!-- End Error Notification Section -->
		{% endblock %}

		{% block content %} {% endblock %}
		<br>
		</div>
		{% block postcontainer %}{% endblock %}

        <!-- JavaScript -->
        <!-- jQuery --> 
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- Font Awesome -->
        <script src="{{ url_for('static', filename='js/all.js') }}"></script>
		<!-- Timer -->
        <script src="{{ url_for('static', filename='js/timer.js') }}"></script>

		{% block scripts %} {% endblock %}

    </body>
</html>
