{% extends 'base.html' %} 

{% block title %}Cook File Error{% endblock %} 

{% block notify %}{% endblock %}

{% block content %}
<br><br>
<div class="alert alert-danger" role="alert">
	<h4 class="alert-heading"><i class="fas fa-bomb"></i>&nbsp; Cook File Loading Error</h4>
	<p>It looks like there was an issue loading the cook file you selected.</p>
	<hr>
	<p class="mb-0">
	<strong>Filename:</strong> {{ cookfilename }}<br><br>
	<strong>List of Errors:</strong><br>
	<ul>
	{% for error in errors %}
		<li>{{ error }}</li>
	{% endfor %}
	</ul>
	</p>
</div><br>
<form action="/cookfiledata" method="POST">
{% if errortype == 'version' %}
	<div class="alert alert-secondary" role="alert">
		<h5>Do you want to attempt to convert the file to the latest format?</h5>
		<i>WARNING: Some file elements be lost in the conversion.</i><br><br>
		<button type="submit" class="btn btn-warning" id="upgradeCF" name="upgradeCF" value="{{ cookfilename }}">Attempt Conversion</button>&nbsp;
		<a href="/history" class="btn btn-success text-decoration-none"><i class="fas fa-arrow-circle-left"></i>&nbsp; Back to Status / History</a>
	</div>
	{% else %}
	<div class="alert alert-secondary" role="alert">
		<h5>Do you want to attempt to repair the file?</h5>
		<i>WARNING: Some file elements be lost during repair.</i><br><br>
		<button type="submit" class="btn btn-warning" id="repairCF" name="repairCF" value="{{ cookfilename }}">Attempt Repair</button>&nbsp;
		<a href="/history" class="btn btn-success text-decoration-none"><i class="fas fa-arrow-circle-left"></i>&nbsp; Back to Status / History</a>
	</div>
	{% endif %}
</form>

{% endblock %}

{% block controlpanel %}{% endblock %}
{% block controlpanel_scripts %}{% endblock %}

{% block scripts %}
{% endblock %}