<!-- Grill Control Section -->
<div class="row">
	<div class="col">
		<div class="btn-group shadow-lg">

			{% if (current_mode == 'Monitor') or (current_mode == 'Stop') %}
				<button type="submit" class="btn btn-outline-success border border-secondary" name="setmodestartup" value="true"><i class="fas fa-play"></i></button>
				{% if (current_mode == 'Monitor') %}
				<button type="submit" class="btn btn-secondary border border-secondary" name="setmodestop" value="true"><i class="fas fa-glasses"></i></button>
				<button type="submit" class="btn btn-outline-secondary border border-secondary" name="setmodestop" value="true"><i class="fas fa-stop"></i></button>
				{% elif (current_mode == 'Stop') %}
				<button type="submit" class="btn btn-outline-secondary border border-secondary" name="setmodemonitor" value="true"><i class="fas fa-glasses"></i></button>
				<button type="submit" class="btn btn-danger border border-secondary" name="setmodestop" value="true"><i class="fas fa-stop"></i></button>
				{% else %}
				<button type="submit" class="btn btn-outline-secondary border border-secondary" name="setmodemonitor" value="true"><i class="fas fa-glasses"></i></button>
				{% endif %}

			{% else %}

				{% if (current_mode == 'Startup') %}
				<button type="submit" class="btn btn-success border border-secondary" name="setmodestartup" value="true"><i class="fas fa-play"></i></button>
				{% endif %}

				{% if (current_mode == 'Smoke') %}
				<button type="submit" class="btn btn-warning border border-secondary" name="setmodesmoke" value="true">Smoke</button>
				{% else %}
				<button type="submit" class="btn btn-outline-warning border border-secondary text-secondary" name="setmodesmoke" value="true">Smoke</button>
				{% endif %}

				{% if (current_mode == 'Hold') %}
				<button type="button" class="btn btn-secondary border border-secondary text-white" data-toggle="modal" data-target="#setpointModal">Hold: {{ set_points['grill'] }}°F</button>
				{% else %}
				<button type="button" class="btn btn-outline-secondary border border-secondary" data-toggle="modal" data-target="#setpointModal">Hold</button>
				{% endif %}

				{% if (current_mode == 'Shutdown') %}
				<button type="submit" class="btn btn-danger border border-secondary" name="setmodeshutdown" value="true"><i class="fas fa-flag-checkered"></i></button>
				{% else %}
				<button type="submit" class="btn btn-outline-danger border border-secondary" name="setmodeshutdown" value="true"><i class="fas fa-flag-checkered"></i></button>
				{% endif %}

			{% endif %}

			{% if (mode_status == 'error') %}
				<a href="/events" class="btn btn-danger" role="button"><i class="fas fa-exclamation-triangle"></i></a>
			{% endif %}

		</div> <!-- End of Button Group -->
	</div> <!-- End of Column -->
</div> <!-- End of Row -->

<script>

	GrillTempCircle.update([
	      { type: "percent", value: (({{ cur_probe_temps[0] }} * 100) / 600) },
	      { type: "text", value: "{{ cur_probe_temps[0] }}°F" }
	]);

	Probe1TempCircle.update([
	{% if probes_enabled[1] == 1 %}
	      { type: "percent", value: (({{ cur_probe_temps[1] }} * 100) / 600) },
	      { type: "text", value: "{{ cur_probe_temps[1] }}°F" }
	{% else %}
				{ type: "percent", value: 0 },
				{ type: "text", value: "OFF" }
	{% endif %}
	]);

	Probe2TempCircle.update([
	{% if probes_enabled[2] == 1 %}
	      { type: "percent", value: (({{ cur_probe_temps[2] }} * 100) / 600) },
	      { type: "text", value: "{{ cur_probe_temps[2] }}°F" }
	{% else %}
				{ type: "percent", value: 0 },
				{ type: "text", value: "OFF" }
	{% endif %}
	]);

</script>
