{% extends 'base.html' %} 

{% block title %}Events{% endblock %} 

{% block content %}

	<br>
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-header bg-primary text-white">
					<h5><i class="fas fa-list"></i>&nbsp; Event Log</h5>
				</div>
				<div class="card-body">
					<div id="events_list">
						<div class="text-center">
							<div class="spinner-border text-primary" role="status">
								<span class="sr-only">Loading...</span>
							</div>
						</div>
					</div>
				</div> <!-- End of card body -->
			</div> <!-- End of Card -->
		</div> <!-- End of Column -->
	</div> <!-- End of Row -->
	<br><br><br>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='js/events.js') }}"></script>
{% endblock %}