<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	{% if page_theme == 'dark' %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dark.bootstrap.min.css') }}" type="text/css" />
	{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" />
	{% endif %}

		<!-- Circliful CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />

		<!-- Adding a Favicon -->
		<link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon" type="image/x-icon" />

    <!-- WebApp Manifest -->
    <link rel="manifest" href="{{ url_for('manifest') }}">

    <title>PiFire History</title>

  </head>
	<body>

		<!-- Navbar Header -->
		<nav class="navbar sticky-top navbar-dark bg-dark">

			<a class="navbar-brand" href="/index">
				<img src="{{ url_for('static', filename='img/launcher-icon-1x.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
				<b>Pi<i class="text-danger">Fire</i></b></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="nav navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="/">Dashboard</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/recipes">Recipes</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="#">History <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/events">Events</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/settings">Settings</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/admin">Admin</a>
						</li>
					</ul>
				</div>

		</nav>

		<br>

		<div class="container theme-showcase" role="main">
			{% if control['timer']['start'] != 0 %}
			<div class="row">
				<div class="col text-center">
					<!--<div class="card text-center bg-warning shadow">-->
						<form name="ChangeValues" method="POST">
							<div class="btn-group shadow">
								<button type="button" class="btn btn-warning btn-lg"><i class="fas fa-stopwatch"></i>&nbsp; <i id="Timer_Countdown"></i></button>
								{% if control['timer']['paused'] != 0 %}
								<button type="submit" data-toggle="tooltip" title="Start the timer" class="btn btn-outline-success border-warning btn-lg" name="start" value='true'><i class="fas fa-play-circle"></i></button>
								{% else %}
								<button type="submit" data-toggle="tooltip" title="Pause the timer" class="btn btn-outline-warning btn-lg" name="pause" value='true'><i class="fas fa-pause-circle"></i></button>
								{% endif %}
								<button type="submit" data-toggle="tooltip" title="Stop the timer" class="btn btn-outline-danger border-warning btn-lg" name="stop" value='true'><i class="fas fa-stop-circle"></i></button>
							</div>
						</form>
					<!--</div>-->
				</div>
			</div>
			<br>
			{% endif %}

			<br>
				<div class="row">
					<div class="col">
						<div class="card shadow">
							<div class="card-header bg-primary text-white">
								<a href="/history/export" class="btn btn-primary float-right" role="button"><i class="fas fa-file-download"></i></a>
								<button class="btn btn-primary float-right" type="button" data-toggle="modal" data-target="#clearallhistory"><i class="fas fa-trash-alt"></i></button>
								<h5><i class="fas fa-history"></i>&nbsp; History</h5>
							</div>
			        <div class="card-body" {% if page_theme == 'dark' %} style="background-color: #aaaaaa;"{% endif %}>
								<div class="table-responsive">
									<!-- History Chart -->
									<div style="min-height: 400px">
										<canvas id="HistoryChart" class="table"></canvas>
									</div>
								</div>
			        </div> <!-- End of card body -->
			        <div class="card-footer bg-light">
								<form name="setmins" action="/history/setmins" method="POST">
									<div class="input-group">
										<input id="minutes" name="minutes" type="number" min="1" class="form-control" placeholder="{{ num_mins }}" data-toggle="tooltip" title="Number of Minutes to Display (Note that if your datapoints value is higher than the default (60) in Settings, this may cause very slow loading with large datasets, especially on the RaspberryPi Zero)">
										<div class="input-group-append">
											<button class="btn btn-success" type="submit">History (Mins)</button>
										</div>
									</div>
								</form>
			        </div>
						</div> <!-- End of Card -->
					</div> <!-- End of Column -->
				</div> <!-- End of Row -->

				<div class="container">
					{% if page_theme == 'dark' %}
					<nav class="navbar fixed-bottom navbar-light justify-content-center" style="background-color: #aaaaaa;">
					{% else %}
					<nav class="navbar fixed-bottom navbar-light justify-content-center" style="background-color: #dddddd;">
					{% endif %}
		
						<span class="navbar-text">

							<!-- Auto-Refresh Control Section -->
							<div class="row">
								<div class="col text-center">

									<form name="refreshmode" method="POST">
										{% if autorefresh == "off" %}
										<button class="btn btn-outline-success" type="submit" id="autorefresh" name="autorefresh" value="on"><i class="fas fa-sync-alt"></i> Auto Refresh: OFF</button>
										{% else %}
										<button class="btn btn-success" type="submit" id="autorefresh" name="autorefresh" value="off"><i class="fas fa-sync-alt"></i> Auto Refresh: ON</button>
										{% endif %}
									</form>

								</div> <!-- End of Column -->
							</div> <!-- End of Row -->

					  </span>
		 			</nav>
				</div> <!-- End of Container -->

		<br>
		<br>
		<br>

		<form name="clearhistory" action="/history/clear" method="POST">
			<div class="modal" id="clearallhistory">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title"><i class="fas fa-exclamation-triangle"></i> Clear History</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- Modal body -->
						<div class="modal-body text-center">
							Are you sure that you want to permanently delete the history.log?  This operation cannot be undone.
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-danger" name="clearhistory" value="true">I'm Sure.</button>
						</div>
					</div>
				</div>
			</div>
		</form>

	<!-- JavaScript -->
	<!-- jQuery first, then Bootstrap JS -->
	<script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
	<script src="{{ url_for('static', filename='js/all.js') }}"></script>

	<script>
	$(document).ready(function(){
			var chartdata = {
					labels: {{ label_time_list | safe }},
					datasets: [
							{
									label: "Grill Temp",
									fill: false,
									lineTension: 0.1,
									backgroundColor: "rgba(0,0,127,0.4)",
									borderColor: "rgba(0,0,127,1)",
									borderCapStyle: 'butt',
									borderDash: [],
									borderDashOffset: 0.0,
									borderJoinStyle: 'miter',
									pointBorderColor: "rgba(0,0,127,1)",
									pointBackgroundColor: "#fff",
									pointBorderWidth: 1,
									pointHoverRadius: 5,
									pointHoverBackgroundColor: "rgba(0,0,127,0.4)",
									pointHoverBorderColor: "rgba(0,0,127,1)",
									pointHoverBorderWidth: 2,
									pointRadius: 1,
									pointHitRadius: 10,
									data: {{ grill_temp_list }},
									spanGaps: false,
							},
							{
									label: "Grill Set Point",
									fill: false,
									lineTension: 0.1,
									backgroundColor: "rgba(0,0,255,0.4)",
									borderColor: "rgba(0,0,255,1)",
									borderCapStyle: 'butt',
									borderDash: [],
									borderDashOffset: 0.0,
									borderJoinStyle: 'miter',
									pointBorderColor: "rgba(0,0,255,1)",
									pointBackgroundColor: "#fff",
									pointBorderWidth: 1,
									pointHoverRadius: 5,
									pointHoverBackgroundColor: "rgba(0,0,255,0.4)",
									pointHoverBorderColor: "rgba(0,0,255,1)",
									pointHoverBorderWidth: 2,
									pointRadius: 1,
									pointHitRadius: 10,
									data: {{ grill_settemp_list }},
									spanGaps: false,
									{% if probes_enabled[0] == 0 %}
										hidden: true,
									{% endif %}
							},
							{
									label: "Probe-1 Temp",
									fill: false,
									lineTension: 0.1,
									backgroundColor: "rgba(256,0,0,0.4)",
									borderColor: "rgba(256,0,0,1)",
									borderCapStyle: 'butt',
									borderDash: [],
									borderDashOffset: 0.0,
									borderJoinStyle: 'miter',
									pointBorderColor: "rgba(256,0,0,1)",
									pointBackgroundColor: "#fff",
									pointBorderWidth: 1,
									pointHoverRadius: 5,
									pointHoverBackgroundColor: "rgba(256,0,0,0.4)",
									pointHoverBorderColor: "rgba(256,0,0,1)",
									pointHoverBorderWidth: 2,
									pointRadius: 1,
									pointHitRadius: 10,
									data: {{ probe1_temp_list }},
									spanGaps: false,
									{% if probes_enabled[1] == 0 %}
										hidden: true,
									{% endif %}
							},
							{
									label: "Probe-1 Set Point",
									fill: false,
									lineTension: 0.1,
									backgroundColor: "rgba(127,0,0,0.4)",
									borderColor: "rgba(127,0,0,1)",
									borderCapStyle: 'butt',
									borderDash: [],
									borderDashOffset: 0.0,
									borderJoinStyle: 'miter',
									pointBorderColor: "rgba(127,0,0,1)",
									pointBackgroundColor: "#fff",
									pointBorderWidth: 1,
									pointHoverRadius: 5,
									pointHoverBackgroundColor: "rgba(127,0,0,0.4)",
									pointHoverBorderColor: "rgba(127,0,0,1)",
									pointHoverBorderWidth: 2,
									pointRadius: 1,
									pointHitRadius: 10,
									data: {{ probe1_settemp_list }},
									spanGaps: false,
									{% if probes_enabled[1] == 0 %}
										hidden: true,
									{% endif %}
							},
							{
									label: "Probe-2 Temp",
									fill: false,
									lineTension: 0.1,
									backgroundColor: "rgba(0,127,0,0.4)",
									borderColor: "rgba(0,127,0,1)",
									borderCapStyle: 'butt',
									borderDash: [],
									borderDashOffset: 0.0,
									borderJoinStyle: 'miter',
									pointBorderColor: "rgba(0,127,0,1)",
									pointBackgroundColor: "#fff",
									pointBorderWidth: 1,
									pointHoverRadius: 5,
									pointHoverBackgroundColor: "rgba(0,127,0,0.4)",
									pointHoverBorderColor: "rgba(0,127,0,1)",
									pointHoverBorderWidth: 2,
									pointRadius: 1,
									pointHitRadius: 10,
									data: {{ probe2_temp_list }},
									spanGaps: false,
									{% if probes_enabled[2] == 0 %}
										hidden: true,
									{% endif %}
							},
							{
									label: "Probe-2 Set Point",
									fill: false,
									lineTension: 0.1,
									backgroundColor: "rgba(0,255,0,0.4)",
									borderColor: "rgba(0,255,0,1)",
									borderCapStyle: 'butt',
									borderDash: [],
									borderDashOffset: 0.0,
									borderJoinStyle: 'miter',
									pointBorderColor: "rgba(0,255,0,1)",
									pointBackgroundColor: "#fff",
									pointBorderWidth: 1,
									pointHoverRadius: 5,
									pointHoverBackgroundColor: "rgba(0,255,0,0.4)",
									pointHoverBorderColor: "rgba(0,255,0,1)",
									pointHoverBorderWidth: 2,
									pointRadius: 1,
									pointHitRadius: 10,
									data: {{ probe2_settemp_list }},
									spanGaps: false,
									{% if probes_enabled[2] == 0 %}
										hidden: true,
									{% endif %}
							}
					]
				}

			var temperatureCharts = new Chart(document.getElementById('HistoryChart'), {
					type: 'line',
					data: chartdata,
					options: {
						scales: {
								yAxes: [{
										ticks: {
												beginAtZero:true
										}
								}]
						},
						responsive: true,
						maintainAspectRatio: false,
						animation: false
					}
				});

		{% if autorefresh == 'on' %}
		
		// Auto-Refresh of History Data

		setInterval(function(){
			// Get Data from historyupdate route
			req = $.ajax({
				url : '/historyupdate',
				type : 'GET'
			});

			req.done(function(data) {
				// Update chart data
				// console.log(data);  // Debug logging

				// Returned Lists: 
				// 'grill_temp_list' 
				// 'grill_settemp_list'
				// 'probe1_temp_list' 
				// 'probe1_settemp_list'
				// 'probe2_temp_list' 
				// 'probe2_settemp_list' 
				// 'label_time_list' 

				// Replace data for each dataset and label list
				temperatureCharts.data.labels = data.label_time_list;
				temperatureCharts.data.datasets[0].data = data.grill_temp_list;
				temperatureCharts.data.datasets[1].data = data.grill_settemp_list;
				temperatureCharts.data.datasets[2].data = data.probe1_temp_list;
				temperatureCharts.data.datasets[3].data = data.probe1_settemp_list;
				temperatureCharts.data.datasets[4].data = data.probe2_temp_list;
				temperatureCharts.data.datasets[5].data = data.probe2_settemp_list;
    			
				// Update Chart
				temperatureCharts.update();

			});
		}, 3000);
		{% endif %}
	});
	</script>

	{% if control['timer']['start'] != 0 %}
	<script>
		// Set the date we're counting down to
		var countDownDate = {{ control['timer']['end'] }} * 1000;
		// Update the count down every 1 second
		var x = setInterval(function() {

		// Get today's date and time
		var now = new Date().getTime();

		// Find the distance between now and the count down date
		{% if control['timer']['paused'] == 0 %}
		var distance = countDownDate - now;
		{% else %}
		var distance = countDownDate - ( {{ control['timer']['paused'] }} * 1000 );
		{% endif %}

		  // Time calculations for days, hours, minutes and seconds
		  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		  // Display the result in the element with id="demo"
			if (hours < 10) {
				var display = "0"
			}
			var display = display + hours + " : " ;
			if (minutes < 10) {
				var display = display + "0"
			}
			var display = display + minutes + " : ";
			if (seconds < 10) {
				var display = display + "0"
			}
			var display = display + seconds;

		  document.getElementById("Timer_Countdown").innerHTML = display;

		  // If the count down is finished, write some text
		  if (distance < 0) {
		    clearInterval(x);
				var display = " Finished ";
				document.getElementById("Timer_Countdown").innerHTML = display;
		  }

		}, 1000);
		</script>
	{% endif %}


</body>
</html>
