{% extends 'base.html' %}

{% block title %}Manual Control{% endblock %}

{% block content %}
	<BR>
	<BR>
	<div class="row">

		<div class="col">
			<div class="card shadow">
				<div class="card-body">
					<form name="ManualMode" method="POST">
						{% if control['mode'] == 'Manual' %}
						<button type="submit" class="btn btn-success btn-block shadow" name="setmode"
								value="stop">Turn Off Manual Mode</button>
						{% else %}
						<button type="submit" class="btn btn-secondary btn-block shadow" name="setmode"
								value="manual">Turn On Manual Mode</button>
						{% endif %}
					</form>
				</div> <!-- End of card body -->

			</div> <!-- End of card -->
		</div> <!-- End of Column -->
	</div> <!-- End of Row -->

	<br>
	<br>
	<br>
{% endblock %}

{% block controlpanel %}
<!-- Control Panel -->
{% from "_macro_control_panel.html" import render_container %}
{{ render_container(settings, control) }}
<!-- End Control Panel -->
{% endblock %}

{% block controlpanel_scripts %}
<!-- Control Panel JS -->
<script src="{{ url_for('static', filename='js/control_panel.js') }}"></script>
{% endblock %}
