{% extends 'base.html' %}

{% block title %}Manual Control{% endblock %}

{% block content %}
	<BR>
	<BR>
	<div class="row">
		<div class="col">
			<div class="card shadow">
				<div class="card-body">
					{% if control['mode'] == 'Manual' %}
					<button type="button" class="btn btn-success btn-block shadow" id="manual_toggle_button" value="on">
						Turn Off Manual Mode
					</button>
					{% else %}
					<button type="button" class="btn btn-secondary btn-block shadow" id="manual_toggle_button" value="off">
						Turn On Manual Mode
					</button>
					{% endif %}
				</div> <!-- End of card body -->
			</div> <!-- End of card -->
		</div> <!-- End of Column -->
	</div> <!-- End of Row -->
	<br><br>
	<div class="row"> 
		<div class="col">
			<div class="card shadow">
					
					<div class="card-body justify-content-center text-center" id="manual_active_card" {% if control['mode'] != 'Manual' %}style="display:none"{% endif %}>
						Use the buttons below to control the Power, Igniter, Auger, and Fan outputs/relays.
						<br>
						<img src="{{ url_for('static', filename='img/ui/manual_mode_instructions.png') }}" class="img-fluid" alt="">
						{% if settings['platform']['dc_fan'] == True %}
						<br>
						Use the slider below the control panel to control the fan duty cycle.
						<br>
						<img src="{{ url_for('static', filename='img/ui/manual_mode_pwm.png') }}" class="img-fluid" alt="">
						{% endif %}
						<br><br>
						You can navigate to the dashboard and observe the temperature outputs while manually controlling the outputs below (<a href="/dash">dashboard</a>)
					</div>
					
					<div class="card-body justify-content-center text-center" id="manual_inactive_card" {% if control['mode'] == 'Manual' %}style="display:none"{% endif %}>
						Manual mode is currently turned off.  Use the button above to activate manual mode.  
					</div>

				</div> <!-- End of card body -->
			</div> <!-- End of card -->
		</div> <!-- End of Column -->
	</div> <!-- End of Row -->

	<br>
	<br>
	<br>
{% endblock %}

{% block controlpanel %}
<!-- Control Panel -->
{% from "_macro_control_panel.html" import render_container %}
{{ render_container(settings, control) }}
<!-- End Control Panel -->
{% endblock %}

{% block controlpanel_scripts %}
<!-- Control Panel JS -->
<script src="{{ url_for('static', filename='js/control_panel.js') }}"></script>
<!-- Manual JS -->
<script src="{{ url_for('static', filename='js/manual.js') }}"></script>
{% endblock %}
