{% extends 'base.html' %} 

{% block cssextend %}
{% endblock %}

{% block title %}Recipe Management{% endblock %} 

{% block notify %}
{% endblock %}

{% block content %}
<br>
<div class="container">	
	<!-- =========== Welcome Row =============== -->
	<div class="row" id="recipe_welcome_row">
		<div class="col mb-4">
			<div class="card">
				<div class="btn btn-outline-primary" id="recipe_loadmenu_btn">
					<h1><br><i class="fas fa-book-open"></i></h1>
					<h5><br>Load Recipe<br><br></h5>
				</div>
			</div>
		</div> <!-- End of Column -->
		<div class="col mb-4">
			<div class="card">
				<div class="btn btn-outline-primary" id="recipe_new_btn">
					<h1><br><i class="fas fa-plus-circle"></i></h1>
					<h5><br>New Recipe<br><br></h5>
				</div>
			</div>
		</div> <!-- End of Column -->
	</div> <!-- End of Row -->

	<!-- =========== Recipe Toolbar Row =============== -->
	<div class="row" id="recipe_toolbar_row" style="display:none">
		<div class="col mb-3" id="recipe_toolbar_loadmenu_col">
			<div class="card">
				<div class="btn btn-outline-primary" id="recipe_toolbar_loadmenu_btn">
					<i class="fas fa-book-open"></i>
					&nbsp; Recipe Book
				</div>
			</div>
		</div> <!-- End of Column -->
		<div class="col mb-3" id="recipe_toolbar_run_col">
			<div class="card">
				<div class="btn btn-outline-primary" id="recipe_toolbar_run_btn">
					<i class="fas fa-play"></i>
					&nbsp; Run Recipe
				</div>
			</div>
		</div> <!-- End of Column -->
		<div class="col mb-3" id="recipe_toolbar_new_col">
			<div class="card">
				<div class="btn btn-outline-primary" id="recipe_toolbar_new_btn">
					<i class="fas fa-plus-circle"></i>
					&nbsp; New Recipe
				</div>
			</div>
		</div> <!-- End of Column -->
		<div class="col mb-3" id="recipe_toolbar_edit_col">
			<div class="card">
				<div class="btn btn-outline-primary" id="recipe_toolbar_edit_btn">
					<i class="fas fa-edit"></i>
					&nbsp; Edit Recipe
				</div>
			</div>
		</div> <!-- End of Column -->
	</div> <!-- End of Row -->


	<!-- =========== Load/Manage Recipe Files =============== -->
	<div class="row" id="recipe_load_row" style="display:none">
		<div class="col">
			<div class="card shadow">
				<div class="card-header bg-primary text-white">
					<strong><i class="fas fa-book"></i>&nbsp; Recipe Book</strong>
				</div>
				<div class="card-body">
					<div id="recipefilelist"></div>
				</div> <!-- End of Card Body -->
				<div class="card-footer">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
						<i class="fas fa-file-upload"></i>&nbsp; Select Recipe File to Upload
					</button>
					
					<!-- Modal - Select Upload File -->
					<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="ulModalLabel" aria-hidden="true">
						<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
							<h5 class="modal-title" id="ulModalLabel">Upload Recipe File</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label for="remotefile">Select File:</label>
									<input type="file" class="form-control-file" id="upload_recipe_file" name="upload_recipe_file" accept=".pfrecipe">
								</div>
							</div>
							<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" id="recipe_file_upload_btn" data-dismiss="modal">Upload File</button>
							</div>
						</div>
						</div>
					</div> <!-- End of Modal -->

				</div>
			</div>
		</div>
	</div> <!-- End of Row -->

	<!-- =========== Recipe File Reader / Editor =============== -->
	<div class="row" id="recipe_show_row" style="display:none">
	</div>

	<!-- =========== Recipe File Assets Manager =============== -->
	<div class="row" id="recipe_assets_row" style="display:none">
	</div>

	<!-- =========== Recipe Run Status Viewer =============== -->
	<div class="row" id="recipe_run_status_row" style="display:none">
	</div>

	<!-- =========== Recipe Asset Viewer Modal =============== -->
	<div class="modal" id="display_asset_modal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title"><i class="fas fa-photo-video"></i>&nbsp; Image(s)</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body text-center">
					<div id="display_asset_content">
						<!-- Large Image Goes Here -->
					</div>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</div> <!-- End Container -->
<br>
<br>
<br>
{% endblock %}

{% block postcontainer %}
{% endblock %}

{% block scripts %}
<script>
	var recipe_units = "{{ settings['globals']['units'] }}";
</script>
<script src="{{ url_for('static', filename='js/recipes.js') }}"></script>
{% endblock %}