{% extends 'base.html' %} 

{% block cssextend %}
{% endblock %}

{% block title %} PiFire Recipes {% endblock %} 

{% block notify %}
{% endblock %}

{% block content %}
	<br>
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header bg-primary text-white"><h5><i class="far fa-list-alt"></i>&nbsp; Recipes</h5></div>
				<div class="card-body">
					This feature is currently under construction, and is a placeholder for future development.
				</div> <!-- End of card body -->
				<div class="card-footer bg-light">
					<a href="/" class="btn btn-outline-primary" role="button">Got it.</a>
				</div>
			</div> <!-- End of Card -->
		</div> <!-- End of Column -->
	</div> <!-- End of Row -->

<br>
<br>
<br>
{% endblock %}

{% block postcontainer %}
{% endblock %}

{% block scripts %}
{% endblock %}