{% extends 'base.html' %} 

{% block title %}
	{% if "shutdown" in action %}
	Shutting Down
	{% elif "reboot" in action %}
	Rebooting
	{% elif "restart" in action %}
	Restarting Server
	{% else %}
	PiFire
	{% endif %}
{% endblock %} 

{% block timer_bar %} 
{% endblock %}

{% block content %}
	<br>
	{% if "shutdown" in action %}
		<center>
			<H1>Shutting Down...</H1><br>
			Feel free to close this page.
		</center>
	{% elif "reboot" in action %}
		<center>
			<H1>Rebooting...</H1><br>
			Hang in there, this could take a few minutes.
		</center>
	{% elif "restart" in action %}
		<center>
			<H1>Restarting Server...</H1><br>
			Restarting the server software.  You'll be returned to the dashboard shortly.
		</center>
	{% else %}
		<center><H1>Unspecified Action</H1></center>
	{% endif %}
		<br>
		<div class="d-flex justify-content-center">
			<div class="spinner-border text-primary" style="width: 4rem; height: 4rem;"></div>
		</div>
	</div>
{% endblock %}

{% block controlpanel %}{% endblock %}
{% block controlpanel_scripts %}{% endblock %}

{% block scripts %} 
<script>
	var action = "{{ action }}";
	$( document ).ready(function() {
		setInterval(function(){
			req = $.ajax({
				url : '/api/server',
				type : 'GET',
				contentType: "application/json; charset=utf-8",
				traditional: true,
				success: function (data) {
					//console.log(data);
					if(data.server_status == 'available') {
						//redirect to dashboard 
						location.href = '/';
					}
				}
			});
		}, 1000);
	});
</script>
{% endblock %}