{% extends 'base.html' %} 

{% block cssextend %}
{% endblock %}

{% block title %}Probe Tuning{% endblock %} 

{% block timer_bar %} 
{% endblock %}

{% block notify %}
{% if alert !='' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<strong>Warning!</strong> {{ alert }}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  <span aria-hidden="true">&times;</span>
	</button>
</div>
{% endif %}
{% endblock %}

{% block content %}

		<br>
		<div class="row">
			<div class="col">
				<div class="card shadow">
					<div class="card-header bg-primary text-white">
						<h5><i class="fas fa-thermometer"></i>&nbsp; Probe Tuning</h5>
					</div>
					<div class="card-body">
						<form name="probe_select" id="probe_select" action="/tuning/select" method="POST">
							<select class="form-control" name="probe_select" id="probe_select" onchange="this.form.submit()">
								<option value="none"{% if pagectrl['selected'] == 'none' %} selected{% endif %}>Select an Input to Tune</option>
								{% for probe in settings['probe_settings']['probe_map']['probe_info'] %}
								<option value="{{ probe['label'] }}"{% if pagectrl['selected'] == probe['label'] %} selected{% endif %}>{{ probe['name'] }} Input</option>
								{% endfor %}
							</select>

							<br>
							{% if pagectrl['selected'] != 'none' %}
							<table class="table">
								<thead class="thead-dark">
								<tr>
									<th>Phase</th>
									<th>Thermistor R(&#8486)</th>
									<th>Temperature ({{ settings['globals']['units'] }})</th>
									<th></th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>Low Temp</td>
									<td>
										<div class="input-group mb-3">
											{% if ((pagectrl['refresh'] == 'on') and (pagectrl['low_tempvalue'] == '')) %}
											<input id="low_trvalue" name="low_trvalue" type="number" class="form-control" min="1">
											{% else %}
											<input id="low_trvalue" name="low_trvalue" type="number" class="form-control" value="{{ pagectrl['low_trvalue'] }}" min="1">
											{% endif %}
											<div class="input-group-append">
											<span class="input-group-text">&#8486;</span>
											</div>
										</div> 
									</td>
									<td>
										<div class="input-group mb-3">
											<input name="low_tempvalue" type="number" class="form-control" value="{{ pagectrl['low_tempvalue'] }}" min="1">
											<div class="input-group-append">
											<span class="input-group-text">&deg;{{ settings['globals']['units'] }}</span>
											</div>
										</div> 
									</td>
									<td>
										{% if pagectrl['refresh'] == 'on' %}
										<button type="submit" class="btn btn-info" value="on" name="pause">Pause & Edit</button>
										{% else %}
										<button type="submit" class="btn btn-success" value="true" name="save">Save</button>
										{% endif %}
									</td>
								</tr>

								<tr>
									<td>Medium Temp</td>
									<td>
										<div class="input-group mb-3">
											{% if ((pagectrl['refresh'] == 'on') and (pagectrl['med_tempvalue'] == '')) %}
											<input id="med_trvalue" name="med_trvalue" type="number" class="form-control" min="1">
											{% else %}
											<input id="med_trvalue" name="med_trvalue" type="number" class="form-control" value="{{ pagectrl['med_trvalue'] }}" min="1">
											{% endif %}
											<div class="input-group-append">
											<span class="input-group-text">&#8486;</span>
											</div>
										</div> 
									</td>
									<td>
										<div class="input-group mb-3">
											<input name="med_tempvalue" type="number" class="form-control" value="{{ pagectrl['med_tempvalue'] }}" min="1">
											<div class="input-group-append">
											<span class="input-group-text">&deg;{{ settings['globals']['units'] }}</span>
											</div>
										</div> 
									</td>
									<td>
										{% if pagectrl['refresh'] == 'on' %}
										<button type="submit" class="btn btn-info" value="on" name="pause">Pause & Edit</button>
										{% else %}
										<button type="submit" class="btn btn-success" value="true" name="save">Save</button>
										{% endif %}
									</td>
								</tr>

								<tr>
									<td>High Temp</td>
									<td>
										<div class="input-group mb-3">
											{% if ((pagectrl['refresh'] == 'on') and (pagectrl['high_tempvalue'] == '')) %}
											<input id="high_trvalue" name="high_trvalue" type="number" class="form-control" min="1">
											{% else %}
											<input id="high_trvalue" name="high_trvalue" type="number" class="form-control" value="{{ pagectrl['high_trvalue'] }}" min="1">
											{% endif %}
											<div class="input-group-append">
											<span class="input-group-text">&#8486;</span>
											</div>
										</div> 
									</td>
									<td>
										<div class="input-group mb-3">
											<input name="high_tempvalue" type="number" class="form-control" value="{{ pagectrl['high_tempvalue'] }}" min="1">
											<div class="input-group-append">
											<span class="input-group-text">&deg;{{ settings['globals']['units'] }}</span>
											</div>
										</div> 
									</td>
									<td>
										{% if pagectrl['refresh'] == 'on' %}
										<button type="submit" class="btn btn-info" value="on" name="pause">Pause & Edit</button>
										{% else %}
										<button type="submit" class="btn btn-success" value="true" name="save">Save</button>
										{% endif %}
									</td>
								</tr>
								</tbody>
							</table>
							{% endif %}
					</form>
					</div> <!-- End of card body -->
				</div> <!-- End of Card -->
			</div> <!-- End of Column -->
		</div> <!-- End of Row -->

		{% if pagectrl['showcalc'] == 'true' %}
		<br>
		<div class="row">
			<div class="col">
				<div class="card shadow">
					<div class="card-body">

						<table class="table">
							<thead class="thead-dark">
							<tr>
								<th>SHH Coefficients</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>A = {{ pagectrl['a'] }}</td>
							</tr>
							<tr>
								<td>B = {{ pagectrl['b'] }}</td>
							</tr>
							<tr>
								<td>C = {{ pagectrl['c'] }}</td>
							</tr>
						</table>

					</div> <!-- End of card body -->
				</div> <!-- End of Card -->
			</div> <!-- End of Column -->
		</div> <!-- End of Row -->

		<br> 
		<div class="row">
			<div class="col">
				<div class="card shadow">
					<div class="card-body">

						<div style="min-height: 400px">
							<canvas id="SHHChart" class="table"></canvas>
						</div>

					</div> <!-- End of card body -->
				</div> <!-- End of Card -->
			</div> <!-- End of Column -->
		</div> <!-- End of Row -->

		<br>
		<div class="row">
			<div class="col">
				<div class="card shadow">
					<div class="card-body">

						<form name="addprofile" action="/settings/addprofile" method="POST">

							<div class="card-header bg-light text-dark"><h5><a href="#addprofile" data-toggle="collapse"><i class="fas fa-plus-circle"></i>&nbsp; Add Profile</a></h5></div>
							<div id="addprofile" class="collapse">
								<div class="card-body">

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" data-toggle="tooltip" title="Short Unique ID to select a profile.  Should not use spaces."><i class="fas fa-fingerprint"></i>&nbsp; UniqueID</span>
										</div>
										<input id="UniqueID" type="text" class="form-control" placeholder="UniqueID" name="UniqueID">
									</div>

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" data-toggle="tooltip" title="Human readable name for profile. Used to display above."><i class="fas fa-user-circle"></i>&nbsp; Name</span>
										</div>
										<input id="Name" type="text" class="form-control" placeholder="Name" name="Name">
									</div>

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" data-toggle="tooltip" title="Source Voltage (volts)"><i class="fas fa-bolt"></i>&nbsp; Vs</span>
										</div>
										<input id="Vs" type="text" class="form-control" value="3.28" name="Vs">
									</div>

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" data-toggle="tooltip" title="R1 in resistor divider (ohms)"><i class="fas fa-divide"></i>&nbsp; Rd</span>
										</div>
										<input id="Rd" type="text" class="form-control" value="10000" name="Rd">
									</div>

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" data-toggle="tooltip" title="Coefficient A in Steinhart Hart Calculation"><i class="fas fa-calculator"></i>&nbsp; CoEff A</span>
										</div>
										<input id="A" type="text" class="form-control" name="A" value="{{ pagectrl['a'] }}">
									</div>

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" data-toggle="tooltip" title="Coefficient B in Steinhart Hart Calculation"><i class="fas fa-calculator"></i>&nbsp; CoEff B</span>
										</div>
										<input id="B" type="text" class="form-control" name="B" value="{{ pagectrl['b'] }}">
									</div>

									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" data-toggle="tooltip" title="Coefficient C in Steinhart Hart Calculation"><i class="fas fa-calculator"></i>&nbsp; CoEff C</span>
										</div>
										<input id="C" type="text" class="form-control" name="C" value="{{ pagectrl['c'] }}">
									</div>

								</div>
								<div class="card-footer bg-light">
										<button type="submit" class="btn btn-outline-primary">Save</button>
								</div>
							</div>
						</form>

					</div> <!-- End of card body -->
				</div> <!-- End of Card -->
			</div> <!-- End of Column -->
		</div> <!-- End of Row -->
	{% endif %}
	<br>
	<br>
	<br>
	{% endblock %}

	{% block postcontainer %}
	{% endblock %}
	
	{% block scripts %}
	<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>


	{% if pagectrl['refresh'] == 'on' %}

	<script>
		var IntervalID = setInterval(update_tr,1000);

		function update_tr() {
			var postdata = {
				probe_selected : "{{ pagectrl['selected']}}"
			};

			$.ajax({
				url : '/_gettr',
				type : 'POST',
				data : JSON.stringify(postdata),
				contentType: "application/json; charset=utf-8",
				traditional: true,
				success: function (data) {
					{% if pagectrl['low_tempvalue'] == '' %}$('#low_trvalue').val(data.trohms){% endif %}
					{% if pagectrl['med_tempvalue'] == '' %}$('#med_trvalue').val(data.trohms){% endif %}
					{% if pagectrl['high_tempvalue'] == '' %}$('#high_trvalue').val(data.trohms){% endif %}
				}
			});
		};
	</script>

	{% endif %}

{% if pagectrl['showcalc'] == 'true' %}
	<script>
	var data = {
		labels: [{{ pagectrl['trlist'] }}],
		datasets: [
				{
						label: "Stienhart Hart Curve",
						fill: true,
						lineTension: 0.1,
						backgroundColor: "rgba(0,0,127,0.4)",
						borderColor: "rgba(0,0,127,1)",
						borderCapStyle: 'butt',
						borderDash: [],
						borderDashOffset: 0.0,
						borderJoinStyle: 'miter',
						pointBorderColor: "rgba(0,0,127,1)",
						pointBackgroundColor: "#fff",
						pointBorderWidth: 1,
						pointHoverRadius: 5,
						pointHoverBackgroundColor: "rgba(0,0,127,0.4)",
						pointHoverBorderColor: "rgba(0,0,127,1)",
						pointHoverBorderWidth: 2,
						pointRadius: 1,
						pointHitRadius: 10,
						data: [{{ pagectrl['templist'] }}],
						spanGaps: false,
				},
		]
	}
	var temperatureCharts = new Chart(document.getElementById('SHHChart'), {
		type: 'line',
		data: data,
		options: {
			scales: {
				x: {
					title: {
						display: true,
						text: 'Thermistor (Ohms)'
					},
				},
				y: {
					title: {
						display: true,
						text: 'Temperature ({{ settings["globals"]["units"] }})'
					},
				}
			},
			responsive: true,
			maintainAspectRatio: false,
		}
	});
	</script>
{% endif %}
</body>
</html>
{% endblock %}
